<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Creative Community - Blog</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
			<!-- Optional theme -->
			<link rel="stylesheet" href="{{ asset('bundles/applicationsonatanews/css/bootstrap-theme.min.css') }}">
			<link rel="stylesheet" href="{{ asset('bundles/applicationsonatanews/css/font-awesome.min.css') }}">
		{% endblock %}
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>

		<header>
			{% block navigation %}
				<nav class="navbar navbar-crea navbar-static-top" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
								<span class="sr-only">Afficher le menu</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="{{ path('sonata_news_home') }}"><img class="navbar-brand" src="{{ asset('bundles/applicationsonatanews/img/logo.png') }}" /></a>
						</div>
						<div class="collapse navbar-collapse" id="navbarCollapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="{{ path('sonata_news_home') }}">ACCUEIL</a></li>
								<li><a target="_blank" href="http://creativecommunity.fr">SITE</a></li>
								<li><a target="_blank" href="http://creativecommunity.fr/recrutement.html">RECRUTEMENT</a></li>
								<li><a href="{{ path('sonata_news_archive') }}">ARCHIVES</a></li>
							</ul>
						</div>
					</div>
				</nav>
			{% endblock %}
		</header>

		{% block subheader %}{% endblock %}

		<div class="main container">

			<section class="content col-xs-12 col-sm-12 col-md-8 col-lg-8">
				{% block body %}{% endblock %}
			</section>

			<section class="sidebar col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{% block sidebar %}{% endblock %}
			</section>

		</div>

		<footer id="footer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="footer_content container">
				<div class="footer_asso col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h4>L'Association</h4>
					<img src="{{ asset('bundles/applicationsonatanews/img/logo_footer.png') }}" />
					<p>Creative Community est un studio de développement de projets artistiques et créatifs spécialisé dans le contenu audiovisuel sur internet fondé début 2013 par Benjamin Maublanc et Lucien Gillonnier.</p>
				</div>
				<div class="footer_quote col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h4>Citation du jour</h4>
					<p>« L’espace est à l’humanité ce que la mer fut à l’Homme. »</p>
					<p class="quote_author">- StarCube: Galaxy</p>
				</div>
				<div class="footer_social col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<h4>Rejoignez nous</h4>
					<p>Suivez nous sur les réseaux sociaux.</p>
					<p>
						<a href="https://www.facebook.com/CreativeCommunityStudio"><img src="{{ asset('bundles/applicationsonatanews/img/social/facebook_square.png') }}" /></a>
						<a href="https://twitter.com/Creat_Community"><img src="{{ asset('bundles/applicationsonatanews/img/social/twitter_square.png') }}" /></a>
						<a href="https://www.youtube.com/c/creativecommunitystudio"><img src="{{ asset('bundles/applicationsonatanews/img/social/youtube_square.png') }}" /></a>
						<a href="skype:creative.community"><img src="{{ asset('bundles/applicationsonatanews/img/social/skype_square.png') }}" /></a>
						<img style="visibility: hidden;" src="{{ asset('bundles/applicationsonatanews/img/social/rss_square.png') }}" />
					</p>
				</div>
			</div>
		</footer>

		<div class="copy-area col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="container">
				Copyright © 2016 - Creative Community
				<a href="http://creativecommunity.fr/mentions_legales.html">Mentions légales</a>
			</div>
		</div>

	</body>
	{% block javascripts %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/applicationsonatacomment/js/comments.js') }}"></script>
		<script>
			$(function () {
				$(document).on('scroll', function () {
					if ($(window).scrollTop() > 100) {
						$('.scroll-top-wrapper').addClass('show');
					} else {
						$('.scroll-top-wrapper').removeClass('show');
					}
				});
				$('.scroll-top-wrapper').on('click', scrollToTop);
			});
			function scrollToTop() {
				verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
				element = $('body');
				offset = element.offset();
				offsetTop = offset.top;
				$('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
			}
		</script>
	{% endblock %}

</html>