{% extends 'ApplicationSonataNewsBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/applicationsonatanews/css/blog.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('bundles/applicationsonatacomment/css/comment.css') }}" type="text/css" rel="stylesheet" />
	{% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block sidebar %}
	<div class="recrutement col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h4>On a besoin de vous !</h4>
		<p class="message">Creative Community a besoin de vous ! Vous désirez participer à nos productions d''une manière ou d''une autre ? Dans ce cas, cliquez sur le lien ci-dessous !</p>
		<p class="recrutlink"><a href="http://creativecommunity.fr/recrutement.html">Accéder à la page de recrutement</a></p>
	</div>
	<div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h4>Suivez nous :</h4>
        <span>
        <a href="https://www.youtube.com/c/CreativeCommunityStudio/" target="_blank"><img width="48" src="{{ asset('bundles/applicationsonatanews/img/social/yt.png') }}" /></a>
        <a href="https://twitter.com/Creat_Community" target="_blank"><img width="48" src="{{ asset('bundles/applicationsonatanews/img/social/twitter.png') }}" /></a>
        <a href="https://www.facebook.com/CreativeCommunityStudio" target="_blank"><img width="48" src="{{ asset('bundles/applicationsonatanews/img/social/fb.png') }}" /></a>
        </span>
	</div>
	<div class="twitter hidden-xs hidden-sm col-md-12 col-lg-12">
		<a class="twitter-timeline" href="https://twitter.com/Creat_Community"
		   data-widget-id="577223615093043200">Tweets de @Creat_Community</a>
		<script>!function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = p + "://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, "script", "twitter-wjs");</script>
	</div>
{% endblock %}