{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview              = block('preview') %}
{% set _form                 = block('form') %}
{% set _show                 = block('show') %}
{% set _list_table           = block('list_table') %}
{% set _list_filters         = block('list_filters') %}
{% set _tab_menu             = block('tab_menu') %}
{% set _content              = block('content') %}
{% set _title                = block('title') %}
{% set _breadcrumb           = block('breadcrumb') %}
{% set _actions              = block('actions') %}
{% set _navbar_title         = block('navbar_title') %}
{% set _list_filters_actions = block('list_filters_actions') %}

<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
	<head>
		{% block meta_tags %}
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta charset="UTF-8">
			<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		{% endblock %}

		{% block stylesheets %}
			{% if admin_pool is defined %}
				{% for stylesheet in admin_pool.getOption('stylesheets', []) %}
					<link rel="stylesheet" href="{{ asset(stylesheet) }}">
				{% endfor %}
			{% endif %}
			<style>
				.voteag2015 .iradio_square-blue {
					margin-left: 20px;
					margin-right: 5px;
				}
			</style>
		{% endblock %}

		{% block javascripts %}
			<script>
				window.SONATA_CONFIG = {
					CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
					USE_SELECT2:  {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %},
					USE_ICHECK:   {% if admin_pool is defined and admin_pool.getOption('use_icheck') %}true{% else %}false{% endif %}
				};
				window.SONATA_TRANSLATIONS = {
					CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
				};

				// http://getbootstrap.com/getting-started/#support-ie10-width
				if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
					var msViewportStyle = document.createElement('style');
					msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
					document.querySelector('head').appendChild(msViewportStyle);
				}
			</script>

			{% if admin_pool is defined %}
			{% for javascript in admin_pool.getOption('javascripts', []) %}
			<script src="{{ asset(javascript) }}"></script>
			{% endfor %}
			{% endif %}

			{% set locale = app.request.locale %}
			{# localize moment #}
			{% if locale[:2] != 'en' %}
			<script src="{{ asset('bundles/sonatacore/vendor/moment/locale/' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
			{% endif %}

			{# localize select2 #}
			{% if admin_pool is defined and admin_pool.getOption('use_select2') %}
			{% if locale == 'pt' %}{% set locale = 'pt_PT' %}{% endif %}

			{# omit default EN locale #}
			{% if locale[:2] != 'en' %}
			<script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
			{% endif %}
			{% endif %}
		{% endblock %}

		<title>
			{% block sonata_head_title %}
				{{ 'Admin'|trans({}, 'SonataAdminBundle') }}

				{% if _title is not empty %}
					{{ _title|raw }}
				{% else %}
					{% if action is defined %}
						-
						{% for menu in admin.breadcrumbs(action) %}
							{% if not loop.first %}
								{% if loop.index != 2 %}
									&gt;
								{% endif %}

								{{ menu.label }}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endif %}
			{% endblock %}
		</title>
	</head>
	<body {% block body_attributes %}class="sonata-bc skin-black fixed"{% endblock %}>

		<div class="wrapper">

			{% block sonata_header %}
				<header class="main-header">
					{% block sonata_header_noscript_warning %}
						<noscript>
							<div class="noscript-warning">
								{{ 'noscript_warning'|trans({}, 'SonataAdminBundle') }}
							</div>
						</noscript>
					{% endblock %}
					{% block logo %}
						{% if admin_pool is defined %}
							{% spaceless %}
								<a class="logo" href="{{ path('sonata_admin_dashboard') }}">
									<span>{{ admin_pool.title }}</span>
								</a>
							{% endspaceless %}
						{% endif %}
					{% endblock %}
					{% block sonata_nav %}
						{% if admin_pool is defined %}
							<nav class="navbar navbar-static-top" role="navigation">
								<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
									<span class="sr-only">Toggle navigation</span>
								</a>

								<div class="navbar-left">
									{% block sonata_breadcrumb %}
										<div class="hidden-xs">
											{% if _breadcrumb is not empty or action is defined %}
												<ol class="nav navbar-top-links breadcrumb">
													{% if _breadcrumb is empty %}
														{% if action is defined %}
															{% for menu in admin.breadcrumbs(action) %}
																{% if not loop.last %}
																	<li>
																		{% if menu.uri is not empty %}
																			<a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
																		{% else %}
																			{{ menu.label }}
																		{% endif %}
																	</li>
																{% else %}
																	<li class="active"><span>{{ menu.label }}</span></li>
																{% endif %}
															{% endfor %}
														{% endif %}
													{% else %}
														{{ _breadcrumb|raw }}
													{% endif %}
												</ol>
											{% endif %}
										</div>
									{% endblock sonata_breadcrumb %}
								</div>

								{% block sonata_top_nav_menu %}
									<div class="navbar-custom-menu">
										<ul class="nav navbar-nav">
											<li class="dropdown">
												<a class="dropdown-toggle" data-toggle="dropdown" href="#">
													<i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
												</a>
												{% include admin_pool.getTemplate('add_block') %}
											</li>
										</ul>
									</div>
								{% endblock %}
							</nav>
						{% endif %}
					{% endblock sonata_nav %}
				</header>
			{% endblock sonata_header %}

			{% block sonata_wrapper %}
				{% block sonata_left_side %}
					<aside class="main-sidebar">
						<section class="sidebar">
							{% block sonata_side_nav %}
								{% block sonata_sidebar_search %}
									{% if app.user and is_granted('ROLE_MEMBRE') %}
										<form action="{{ path('sonata_admin_search') }}" method="GET" class="sidebar-form"
										      role="search">
											<div class="input-group custom-search-form">
												<input type="text" name="q" value="{{ app.request.get('q') }}"
												       class="form-control"
												       placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-flat" type="submit">
	                                                    <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
											</div>
										</form>
									{% endif %}
								{% endblock sonata_sidebar_search %}

								{% block side_bar_before_nav %} {% endblock %}
								{% block side_bar_nav %}
									{#{% if app.user and is_granted('ROLE_MEMBRE') %}#}
									{#{{ knp_menu_render('sonata_admin_sidebar', {template: admin_pool.getTemplate('knp_menu_template')}) }}#}
									{#<ul class="sidebar-menu">#}
									{#<li class="treeview last">#}
									{#<a href="#"><i class="fa fa-group"></i><span>AG</span><i#}
									{#class="fa pull-right fa-angle-left"></i></a>#}
									{#<ul class="treeview-menu menu_level_1" style="display: none;">#}
									{#<li class="first">#}
									{#<a target="_blank"#}
									{#href="{{ path('crea_com_ag_homepage', { annee : "now"|date("Y") }) }}"><i#}
									{#class="fa fa-angle-double-right"></i>Voter</a>#}
									{#</li>#}
									{#{% if app.user and is_granted('ROLE_ADMINAG') %}#}
									{#<li>#}
									{#<a target="_blank"#}
									{#href="{{ path('crea_com_ag_result', { annee : "now"|date("Y") }) }}"><i#}
									{#class="fa fa-angle-double-right"></i>Resultat</a>#}
									{#</li>#}
									{#<li>#}
									{#<a href="{{ path('crea_com_ag_create_vote', { annee : "now"|date("Y") }) }}"><i#}
									{#class="fa fa-angle-double-right"></i>Creation des votes</a>#}
									{#</li>#}
									{#{% endif %}#}
									{#</ul>#}
									{#</li>#}
									{#</ul>#}
									{#{% endif %}#}
								{% endblock side_bar_nav %}
								{% block side_bar_after_nav %}
									{% include admin_pool.getTemplate('user_block') %}
								{% endblock %}
							{% endblock sonata_side_nav %}
						</section>
					</aside>
				{% endblock sonata_left_side %}

				<div class="content-wrapper">
					{% block sonata_page_content %}
						<section class="content-header">

							{% block sonata_page_content_header %}
								{% block sonata_page_content_nav %}
									{% if _tab_menu is not empty or _actions is not empty or _list_filters_actions is not empty %}
										<nav class="navbar navbar-default" role="navigation">
											<div class="container-fluid">
												{% block tab_menu_navbar_header %}
													{% if _navbar_title is not empty %}
														<div class="navbar-header">
															<a class="navbar-brand" href="#">{{ _navbar_title|raw }}</a>
														</div>
													{% endif %}
												{% endblock %}

												<div class="navbar-collapse">
													<div class="navbar-left">
														{% if _tab_menu is not empty %}
															{{ _tab_menu|raw }}
														{% endif %}
													</div>

													{% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
														<div class="nav navbar-right btn-group">
															{% for mode, settings in admin.listModes %}
																<a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}"
																   class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}"><i
																			class="{{ settings.class }}"></i></a>
															{% endfor %}
														</div>
													{% endif %}

													{% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
														<ul class="nav navbar-nav navbar-right">
															<li class="dropdown sonata-actions">
																<a href="#" class="dropdown-toggle"
																   data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }}
																	<b class="caret"></b></a>
																<ul class="dropdown-menu" role="menu">
																	{{ _actions|raw }}
																</ul>
															</li>
														</ul>
													{% endif %}

													{% if _list_filters_actions is not empty %}
														{{ _list_filters_actions|raw }}
													{% endif %}
												</div>
											</div>
										</nav>
									{% endif %}
								{% endblock sonata_page_content_nav %}
							{% endblock sonata_page_content_header %}
						</section>

						<section class="content">
							{% block sonata_admin_content %}

								{% block notice %}
									{% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
								{% endblock notice %}

								{% if _preview is not empty %}
									<div class="sonata-ba-preview">{{ _preview|raw }}</div>
								{% endif %}

								{% if _content is not empty %}
									<div class="sonata-ba-content">{{ _content|raw }}</div>
								{% endif %}

								{% if _show is not empty %}
									<div class="sonata-ba-show">{{ _show|raw }}</div>
								{% endif %}

								{% if _form is not empty %}
									<div class="sonata-ba-form">{{ _form|raw }}</div>
								{% endif %}

								{% if _list_table is not empty or _list_filters is not empty %}
									{% if _list_filters|trim %}
										<div class="row">
											{{ _list_filters|raw }}
										</div>
									{% endif %}

									<div class="row">
										{{ _list_table|raw }}
									</div>

								{% endif %}
							{% endblock sonata_admin_content %}
						</section>
					{% endblock sonata_page_content %}
				</div>
			{% endblock sonata_wrapper %}
		</div>

		{% if admin_pool is defined and admin_pool.getOption('use_bootlint') %}
			{% block bootlint %}
				{# Bootlint - https://github.com/twbs/bootlint#in-the-browser #}
				<script type="text/javascript">
					javascript:(function () {
						var s = document.createElement("script");
						s.onload = function () {
							bootlint.showLintReportForCurrentDocument([], {hasProblems: false, problemFree: false});
						};
						s.src = "https://maxcdn.bootstrapcdn.com/bootlint/latest/bootlint.min.js";
						document.body.appendChild(s)
					})();
				</script>
			{% endblock %}
		{% endif %}

	</body>
</html>
