<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Machimania - Accueil{% endblock %}</title>
		<link rel="icon" type="image/png" href="{{ asset('bundles/creacommachimania/img/favicon.png') }}" />
		{% stylesheets
		'bundles/creacommachimania/css/base.css'
		'bundles/creacommachimania/css/gid.css' filter='cssrewrite' %}
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html" />
		{% endstylesheets %}
	</head>
	<body>

		{% block body %}
			{% block header %}
				<header>
					<div class="contain">
						<div class="section group">
							<div class="col span_2_of_4">
								<a href="{{ path('crea_com_machimania_homepage') }}"><img
											src="{{ asset('bundles/creacommachimania/img/logo.png') }}"></a>
							</div>
							<div class="col span_1_of_3 socials tk-bebas-neue">
								<p>Retrouvez-nous sur <a href="https://www.youtube.com/channel/UC1EXEQWsDOcPMQUso6H6yjw"
								                         target="_blank"><img
												src="{{ asset('bundles/creacommachimania/img/YT.png') }}"></a><a
											href="https://www.facebook.com/MachimaniaCC" target="_blank"><img
												src="{{ asset('bundles/creacommachimania/img/FB.png') }}"></a><a
											href="https://twitter.com/MachimaniaCC" target="_blank"><img
												src="{{ asset('bundles/creacommachimania/img/TW.png') }}"></a></p>
							</div>
							<div class="col span_1_of_6">
								<p class="login tk-bebas-neue"><span style="color:#ffbf00">></span> &nbsp;&nbsp;&nbsp;Créer un
									compte</p>

								<p class="login tk-bebas-neue loginAlign"><span style="color:#5ba5cb">></span> &nbsp;&nbsp;&nbsp;Se
									connecter</p>

							</div>
						</div>
						<div class="clear"></div>
						{% block menu %}
							<nav>
								<ul class="col span_2_of_3 tk-bebas-neue">
									<li>
										<a href="{{ path('crea_com_machimania_recherche_films') }}"><span>Films</span></a>
									</li>
									<li>
										<a href="{{ path('crea_com_machimania_recherche_series') }}"><span>Séries</span></a>
									</li>
									<li>
										<a href="{{ path('crea_com_machimania_recherche_articles') }}"><span>Articles</span></a>
									</li>
									<li>
										<a href="{{ path('crea_com_machimania_recherche_critiques') }}"><span>Critiques</span></a>
									</li>
									<li>
										<a href="#"><span>Qui sommes nous ?</span></a>
									</li>
									<li>
										<a href="#"><span>Contact</span></a>
									</li>
									<li>
										<a href="#"><span>Proposez vos réalisations</span></a>
									</li>
								</ul>
								<div class="col span_1_of_3 search">
									<a href="#"><span><img height="25"
									                       src="{{ asset('bundles/creacommachimania/img/ico-search.png') }}"> Rechercher</span></a>
								</div>
							</nav>
						{% endblock %}
					</div>
				</header>
			{% endblock %}

			{% block content %}
				<div class="contain">
					<p>BEN TROUVE DU PETROLE SUR TERRAN'SYL ET DEVIENT MILLIONNAIRE ! LA SUITE VA VOUS ETONNER !</p>
				</div>

			{% endblock %}

			{% block footer %}
				<footer>
					<div class="contain">
						<div class="col span_1_of_14">
							<img src="{{ asset('bundles/creacommachimania/img/favicon.png') }}">
						</div>
						<ul class="col span_10_of_14 tk-bebas-neue">
							<li>
								<a href="#">Contact</a>
							</li>
							<li>
								<a href="#">Qui sommes nous ?</a>
							</li>
							<li>
								<a href="#">Mentions légales</a>
							</li>
							<li>
								<a href="#">Newsletter</a>
							</li>
							<li>
								<a href="#">Partenaires</a>
							</li>
							<li>
								<a href="#">CGU</a>
							</li>
							<li>
								<a href="#">Recrutement</a>
							</li>
						</ul>
						<div class="col span_3_of_14">
							<p class="footer"><span class="copyright">© Machimania</span><br />Machimania est un site appartenant à<br />Creative Community (CreaCom)</p>
						</div>
					</div>
				</footer>
			{% endblock %}
		{% endblock %}


	</body>
	<script src="//use.typekit.net/vhs2mms.js"></script>
	<script>
		try {
			Typekit.load();
		} catch (e) {
		}
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript"
	        src="{{ asset('bundles/creacommachimania/js/matchHeight.js') }}"></script>
</html>
