{% extends "CreaComProjectBundle::layout.html.twig" %}
{% block pageTitle %}500 Bad Request{% endblock %}
    {% block extrasStyle %}
	    {% stylesheets
	    'bundles/creacomproject/css/pageErreur.css' filter='cssrewrite' %}
	    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html"/>
	    {% endstylesheets %}
    {% endblock %}
{% block container %}
	{% set phrase =[
	'Le Titanic a eu plus de chance que votre page web.',
	'Nos développeurs sont incompétents. Envoyez votre candidature à recrutement@creativecommunity.fr.',
	'John: Ben, t\'es sur que laisser la page web de l\'autre côté du portail était une bonne idée ?',
	'J\'ai confondu votre page avec un cheeseburger.',
	'Le serveur n\'a pas voulu cracher le morceau.',
	'Toute l\'équipe vous souhaite une merveilleuse déception.',
	'C\'est gratuit, alors appréciez.',
	'Votre page est tombée en panne.',
	'Si vous retrouvez les neuronnes de l\'équipe, on vous promet de réparer votre page.'
	] %}
	<div class="col-xs-14 bloc-ext">
		<div class="bloc-int col-xs-14">

			<div class="col-sm-7 col-xs-14">

				<div class="titre">
					{{ status_code }}
				</div>
				<div class="sous-titre">
					<p style="color: black" id="1">Une erreur est survenue</p>
				</div>

				<div class="msg-random text-center col-xs-14">
					{{ random(phrase)|raw }}
				</div>

				<div style="text-align: center;" class="sous-titre col-xs-7">
					<a style="color: black;" href="{{ path('creacom_sitecreacom_index') }}" id="3">Retourner à l'accueil</a>
				</div>

			</div>
			<div class="img-potame col-sm-7">
				<img src="{{ asset('bundles/creacomproject/images/404/potame.png') }}" alt="Potame"/>
			</div>

		</div>
	</div>
{% endblock %}