{% extends "CreaComProjectBundle::layout.html.twig" %}
{% block pageTitle %}404 Not found{% endblock %}
    {% block extrasStyle %}
         {% stylesheets
         'bundles/creacomproject/css/pageErreur.css' filter='cssrewrite' %}
         <link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html"/>
         {% endstylesheets %}
    {% endblock %}
{% block container %}
     {% set phrase =[
     'Le Titanic a eu plus de chance que votre page web.',
     'Le stagiaire a égaré votre page web.',
     'On a rien trouvé... mais dites que vous n\'avez rien vu.',
     'Nous n\'avons trouvé ni votre page, ni de petit message cool pour nous excuser. Désolé.',
     'Nos développeurs sont incompétents. Envoyez votre candidature à recrutement@creativecommunity.fr.',
     'Nos scénaristes n\'avaient plus d\'idées de phrases alors .... Envoyez votre candidature à recrutement@creativecommunity.fr.',
     'Tout comme les compositeurs, votre page est introuvable.</br>PS : Si vous voulez nous filer un coup de main, envoyez votre candidature à recrutement@creativecommunity.fr.',
     'John: Ben, t\'es sur que laisser la page web de l\'autre côté du portail était une bonne idée ?',
     'L\'univers que vous cherchez n\'a pas encore été découvert.',
     'Il semblerait que nos constructeurs n\'aient pas terminé cette page.',
     'J\'ai confondu votre page avec un cheeseburger.',
     'Tout comme le lémurien-garou, votre page est introuvable.',
     'Faut voir le bon côté : une de perdue, dix de retrouvées.',
     'Le serveur n\'a pas voulu cracher le morceau.',
     'Regretté 404. Il nous manquera. Bon, on va boire un coup ?',
     'Libérée, délivrée, votre page s\'est envolée !',
     'Tel l\'humour de Jouzu cette page n\'existe pas.',
     '404 = 42.',
     'Je suis une page, et je suis en RTT.',
     'Toute l\'équipe vous souhaite une merveilleuse déception.',
     'C\'est gratuit, alors appréciez.',
     'La page n°404 à destination de votre ordinateur aura 57 minutes de retard.',
     'Votre page est tombée en panne.',
     'Nous vous remercions de votre fidélité, mais ce n\'est pas la peine d\'insister. Non, vraiment. On l\'a pas, votre page.',
     'Si vous retrouvez les neuronnes de l\'équipe, on vous promet de retrouver votre page.'
     ] %}
     <div class="col-xs-14 bloc-ext">
          <div class="bloc-int col-xs-14">

               <div class="col-sm-7">

                    <div class="titre">
                         404
                    </div>
                    <div class="sous-titre">
                         <p style="color: black" id="1">Page introuvable</p>
                    </div>

                    <div class="msg-random text-center col-xs-14">
                         {{ random(phrase)|raw }}
                    </div>

                    <div style="text-align: center;" class="sous-titre col-xs-7">
                         <a style="color: black;" href="{{ path('creacom_sitecreacom_index') }}" id="3">Retourner à l'accueil</a>
                    </div>

               </div>
               <div class="img-potame col-sm-7">
                    <img src="{{ asset('bundles/creacomproject/images/404/potame.png') }}" alt="Potame"/>
               </div>


          </div>
     </div>
{% endblock %}