/** MISE EN PAGE BLOC **/

.bloc-ext {
    padding: 18.9px;
}

.bloc-int {
    background-color: white;
    box-shadow: 0 2px 20px #8f8f8f;
}

.bloc-presentation-postes {
    background-color: #404040;
    height: 100%;
    max-height: 320px
}


/** MISE EN PAGE TEXTE **/

.bloc-presentation-generale p {
    font-family: 'Dosis', sans-serif;
    color: black;

}

h1 {
    font-family: 'Lato', sans-serif;
    color: white;
}

.bloc-presentation-postes .poste-image h2 {
    color: white;
    text-shadow: 1px 2px 6px #1e1e1e;
    text-align: center;
    margin-top: 115px;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.description-projet {
    max-height: 200px;
    overflow: auto;
    font-size: 16px !important;
}

.small-more-button {
    background-color: rgba(210, 210, 210, 0.7);
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: bebas-neue, sans-serif;
    font-size: 18px !important;
}

.small-more-button:hover {
    background-color: rgba(210, 210, 210, 0.8);
}

.poste-resume p {
    color: white;
    font-family: 'Dosis', sans-serif;
}

.color-true {
    color: #4b9f55;
}

.color-false {
    color: #e94951;
}

/** MIS EN PAGE IMAGE **/

.bloc-header {
    background-size: 100%;
    background: url(../images/recrutement/background-recrutement.jpg) no-repeat;
}

.poste-image {
    box-shadow: 0 2px 20px #212121;
    height: 100%;
    overflow: hidden;
}

#extend {
    display: none;
    color: #FFF;
    padding: 10px;
    background-color: #404040;
}

.button-more a img {
    width: 76px;
    height: 55.2px;
    z-index: 99999;

}

.button-more {
    margin-top: -20px;
}

.soon .big-more-button:hover {
    background-color: rgba(210, 210, 210, 0.7);
}

.soon a {
    pointer-events: none;
    cursor: default;
}

#extend {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    color: white;
}

.bloc-end {
    margin: 0 100px 60px 100px;
    display: block;
}

/** TAILLE LARGE **/

@media screen and (min-width: 1300px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 40px 80px 0 80px;
        margin-bottom: 60px;
    }

    .bloc-presentation-postes {
        margin: 0 100px 60px 100px;
    }

    .poste-resume {
        width: 470px;
        padding: 0 30px 0 30px;
    }

    .poste-image {
        overflow: hidden;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    .statut {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 0;
    }

    h1 {
        font-size: 56px;
        padding: 55px 0 0 0;
    }

    .poste-resume p {
        font-size: 19px;
        padding-top: 10px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 1205px;
        height: 270px;
        padding: 100px 0 0 40px;
    }

    .bloc-header img {
        padding: 35px 0 0 0;
        margin: 0;
        width: 120px;
    }

    .bloc-presentation-postes img {
        width: 534px;
        height: 282px;
    }
}

/** TAILLE MEDIUM **/

@media screen and (min-width: 1024px) and (max-width: 1299px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 40px 80px 0 80px;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    h1 {
        font-size: 45px;
        padding: 50px 0 0 0;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 955px;
        height: 256px;
        padding: 100px 0 0 0;
        text-align: center;
    }

    .bloc-header .col-lg-2 {
        display: none;
    }

    .poste-resume{
        padding-left: 30px;
    }

    .poste-resume p {
        font-size: 19px;
        padding-top: 10px;
    }
}

/** TAILLE SMALL **/

@media screen and (min-width: 768px) and (max-width: 1023px){

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 0 80px 0 80px;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
        text-align: center;
    }

    .poste-resume{
        padding-left: 30px;
    }

    .description-projet{
        height: 150px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 663px;
        height: 166px;
        padding: 30px 0 0 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .bloc-header .col-lg-2 {
        display: none;
    }
}

/** TAILLE XS **/

@media screen and (min-width: 500px) and (max-width: 767px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        width: 100%;
        padding: 0;
    }

    .bloc-int {
        width: 100%;
        box-shadow: none;
    }

    .bloc-presentation-generale {
        padding: 0 80px 0 80px;
        width: 100%;
    }

    .bloc-presentation-postes {
        height: 100%;
        width: 100%;
    }

    .poste-resume {
        margin-bottom: 30px;
        padding: 0px 15px 15px 15px;
        float: right;
        background-color: #404040;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
        text-align: center;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 100%;
        height: 166px;
        padding: 30px 0 0 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .bloc-header .col-lg-2 {
        display: none;
    }
}

/** TAILLE XXS **/

    @media screen and (min-width: 0px) and (max-width: 499px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        width: 100%;
        padding: 0;
    }

    .bloc-int {
        width: 100%;
        box-shadow: none;
    }

    .bloc-presentation-generale {
        padding: 0 80px 0 80px;
        width: 100%;
    }

    .bloc-presentation-postes{
        height: auto;
        width: auto;
        max-width: 499px;
        max-height: 150px;
    }

    .poste-image{
        height: 50%;
    }

    .poste-resume {
        margin-bottom: 30px;
        padding: 0px 15px 15px 15px;
        float: right;
        background-color: #404040;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
        text-align: center;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 100%;
        height: 166px;
        padding: 30px 0 0 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .bloc-header .col-lg-2 {
        display: none;
    }
}