/** MISE EN FORME POLICE **/

h1 {
    color: #f0f0f0;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

h2 {
    color: #f0f0f0;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

p {
    color: #f0f0f0;
    font-family: Dosis, sans-serif;
}

.small-text {
    color: #f0f0f0;
    font-family: Dosis, sans-serif;
}

.col-md-14 a {
    display: block;
    text-decoration: none;
    color: black;
}

.col-md-14 a:hover {
    color: black;
    text-decoration: none;
}

.col-md-14 a:visited {
    color: black;
    text-decoration: none;
}

.col-md-14 a:active {
    color: black;
    text-decoration: none;
}

hr {
    opacity: 0.4;
}

.sortie {
    color: #f0f0f0;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0 3px 9px black;
}

/* RESEAU SOCIAUX */

.twitter {
    background-color: #598DCA;
    height: 100%;
}

.facebook {
    background-color: #465C8C;
    height: 100%;
}

.youtube {
    background-color: #B4433E;
    height: 100%;
}

.block-reseaux {
    text-align: center;
    height: 100%;
}

.block-reseaux img {
    margin-top: 9%;
    max-width: 100%;
}

.block-reseaux .col-xs-5 {
    width: 33.3%
}

.twitter:hover {
    opacity: 0.9;
}

.youtube:hover {
    opacity: 0.9;
}

.facebook:hover {
    opacity: 0.9;
}

/* IMAGES DES BLOCS */

.scg {
    background: url(../images/index/starcube.jpg) no-repeat;
    background-size: cover;
}

.ateliers {
    background: url(../images/index/Ateliers.jpg) no-repeat;
    background-size: cover;
}

.courtmetrage {
    background: url(../images/index/Court-Métrages.jpg) no-repeat;
    background-size: cover;
}

.doublage {
    background: url(../images/index/Doublage.jpg) no-repeat;
    background-size: cover;
}

.machimania {
    background: url(../images/index/Machinima.jpg) no-repeat;
    background-size: cover;
}

.partenaires {
    background: url(../images/index/Partenaires.jpg) no-repeat;
    background-size: cover;
}

.stasiapolis {
    background: url(../images/index/stasiapolis.jpg) no-repeat;
    background-size: cover;
}

.traduction {
    background: url(../images/index/Traduction.jpg) no-repeat;
    background-size: 100%;
}

/** MISE EN FORME DES BLOCS **/

.big-block .block-int {
    background-color: #a7a7a7;
    text-align: center;
    height: 100%;
    box-shadow: 2px 2px 20px #8f8f8f;
    overflow: hidden;

}

.small-block .block-int {
    background-color: #a7a7a7;
    text-align: center;
    height: 100%;
    overflow: hidden;
    box-shadow: 2px 2px 20px #8f8f8f;

}

.block-reseaux {
    /*background-color: #a7a7a7;*/
    height: 100%;
}

/** MISE EN FORME MORE **/

.big-more {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.more {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

/** MISE EN FORME MORE BUTTON **/

.big-more-button {
    background-color: rgba(210, 210, 210, 0.7);
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: bebas-neue, sans-serif;
    font-size: 20px !important;
}

.big-more-button:hover {
    background-color: rgba(210, 210, 210, 0.8);
}

.soon .big-more-button:hover {
    background-color: rgba(210, 210, 210, 0.7);
}

.soon a {
    pointer-events: none;
    cursor: default;
}

.small-more-button {
    background-color: rgba(210, 210, 210, 0.7);
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: bebas-neue, sans-serif;
    font-size: 18px !important;
}

.small-more-button:hover {
    background-color: rgba(210, 210, 210, 0.8);
}

/** -------------------------------------------------------------------------------------------------------------------------- **/

/** TAILLE LARGE **/

@media screen and (min-width: 1300px) {

    /** DEF BLOCKS **/
    .big-block {
        width: 708px;
        height: 438px;
        padding: 18.9px;
    }

    .small-block {
        height: 219px;
        width: 532px;
        padding: 18.9px;
    }

    .big-block .block-int {
        padding: 38px 26px 30px 20px;
    }

    .small-block .block-int {
        padding: 10px;
    }

    .block-reseaux {
        padding: 0;
    }

    /** DEF MORE **/
    .big-more {
        padding: 10px;
    }

    .more {
        padding: 2px;
    }

    .more-text-container {
        overflow: hidden;
        height: 70px;
        width: 100%;
        margin-bottom: 6px;
    }

    .big-more-text-container {
        overflow: hidden;
        height: 110px;
        width: 100%;
        margin-bottom: 20px;
    }

    /** DEF TAILLE TEXTE **/
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 18px;
        padding: 0;
        margin: 10px 0 8px 0;
    }

    p {
        font-size: 16px;
    }

    .small-text {
        font-size: 12px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 24px;
    }

    .no-margin {
        margin-top: 0;
        margin-bottom: 3px;
        opacity: 0.4;
    }

    .sortie {
        font-size: 20px;
        padding-top: 310px;
    }

    /** DEF MORE BUTTON **/
    .big-more-button {
        width: 180px;
        height: 56px;
        padding-top: 15px;
        font-size: 24px;
    }

    .small-more-button {
        width: 100px;
        height: 35px;
        padding-top: 6px;
        font-size: 16px;
    }
}

/** TAILLE MEDIUM **/

@media screen and (min-width: 1024px) and (max-width: 1299px) {

    /** DEF BLOCKS **/
    .big-block {
        width: 566px;
        height: 350px;
        padding: 18.9px;
    }

    .small-block {
        height: 175px;
        width: 425px;
        padding: 18.9px;
    }

    .big-block .block-int {
        padding: 14px 26px 14px 20px;
    }

    .small-block .block-int {
        padding: 0;
    }

    .block-reseaux {
        padding: 0;
    }

    /** DEF MORE **/
    .big-more {
        padding: 16px;
    }

    .more {
        padding: 0;
    }

    .more-text-container {
        overflow: hidden;
        height: 67px;
        width: 100%;
        margin-bottom: 4px;
    }

    .big-more-text-container {
        overflow: hidden;
        height: 140px;
        width: 100%;
        margin-bottom: 8px;
    }

    /** DEF TAILLE TEXTE **/
    h1 {
        font-size: 22px;
        margin-top: 0;
    }

    h2 {
        font-size: 16px;
        padding: 0;
        margin: 10px 0 8px 0;
    }

    p {
        font-size: 14px;
    }

    .small-text {
        font-size: 12px;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 14px;
    }

    .no-margin {
        margin-top: 0;
        margin-bottom: 3px;
        opacity: 0.4;
    }

    .sortie {
        font-size: 18px;
        padding-top: 265px;
    }

    /** DEF MORE BUTTON **/
    .big-more-button {
        width: 130px;
        height: 46px;
        padding-top: 11px;
        font-size: 18px;
    }

    .small-more-button {
        width: 100px;
        height: 24px;
        padding-top: 4px;
        font-size: 14px;
    }
}

/** TAILLE SMALL **/

@media screen and (min-width: 768px) and (max-width: 1023px){

    /** DEF BLOCKS **/
    .big-block {
        width: 700px;
        height: 450px;
        padding-left: 0;
        padding-right: 0;
    }

    .small-block {
        height: 280px;
        width: 700px;
        padding-left: 0;
        padding-right: 0;
    }

    .big-block .block-int {
        padding: 38px 26px 30px 20px;
    }

    .small-block .block-int {
        padding: 10px;
    }

    .block-reseaux {
        padding: 0;
    }

    /** DEF MORE **/
    .big-more {
        padding: 10px;
    }

    .more {
        padding: 4px;
    }

    .more-text-container {
        overflow: hidden;
        height: 86px;
        width: 100%;
        margin-bottom: 15px;
    }

    .big-more-text-container {
        overflow: hidden;
        height: 150px;
        width: 100%;
        margin-bottom: 18px;
    }

    /** DEF TAILLE TEXTE **/
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
        padding: 0;
        margin: 10px 0 8px 0;
    }

    p {
        font-size: 18px;
    }

    .small-text {
        font-size: 15px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 24px;
    }

    .no-margin {
        margin-top: 0;
        margin-bottom: 8px;
        opacity: 0.4;
    }

    .sortie {
        font-size: 20px;
        padding-top: 324px;
    }

    /** DEF MORE BUTTON **/
    .big-more-button {
        width: 180px;
        height: 56px;
        padding-top: 15px;
        font-size: 24px;
    }

    .small-more-button {
        width: 150px;
        height: 50px;
        padding-top: 13px;
        font-size: 22px;
    }
}

/** TAILLE XS **/

@media screen and (min-width: 500px) and (max-width: 767px) {

    /** DEF BLOCKS **/
    .big-block {
        width: 100%;
        height: 400px;
        min-width: 500px;
    }

    .small-block {
        height: 250px;
        width: 100%;
        padding: 18.9px 0;
    }

    .big-block .block-int {
        padding: 30px 26px 30px 20px;
        box-shadow: 0 2px 20px #8f8f8f;
    }

    .small-block .block-int {
        padding: 10px 26px 10px 20px;
        box-shadow: 0 2px 20px #8f8f8f;
    }

    .block-reseaux {
        padding: 0;
    }

    /** DEF MORE  **/
    .big-more {
        padding: 20px 10px 10px 10px;
    }

    .more {
        padding-left: 50px;
        padding-right: 50px;
    }

    .more-text-container {
        overflow: hidden;
        height: 68px;
        width: 100%;
        margin-bottom: 6px;
    }

    .big-more-text-container {
        overflow: hidden;
        height: 110px;
        width: 100%;
        margin-bottom: 10px;
    }

    /** DEF TAILLE TEXTE **/
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
        padding: 0;
        margin: 10px 0 8px 0;
    }

    p {
        font-size: 20px;
    }

    .small-text {
        font-size: 16px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 24px;
    }

    .no-margin {
        margin-top: 2px;
        margin-bottom: 10px;
        opacity: 0.4;
    }

    .sortie {
        display: none;
    }

    /** DEF MORE BUTTON **/
    .big-more-button {
        width: 180px;
        height: 56px;
        padding-top: 15px;
        font-size: 24px;
    }

    .small-more-button {
        width: 150px;
        height: 50px;
        padding-top: 11px;
        font-size: 22px;
    }
}

/** TAILLE XXS **/

@media screen and (min-width: 0px) and (max-width: 499px) {

    /** DEF BLOCKS **/
    .big-block {
        width: 100%;
        height: 256px;
        min-width: 320px;
    }

    .small-block {
        height: 180px;
        width: 100%;
        padding: 18.9px 0;
    }

    .big-block .block-int {
        padding: 5px 5px 5px 5px;
        box-shadow: 0 2px 20px #8f8f8f;
    }

    .small-block .block-int {
        padding: 10px 26px 10px 20px;
        box-shadow: 0 2px 20px #8f8f8f;
    }

    .block-reseaux {
        padding: 0;
    }

    .block-reseaux img {
        margin: 0;
        max-width: 95%;
    }

    /** DEF MORE  **/
    .big-more {
        padding: 20px 10px 10px 10px;
    }

    .more {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 5px;
    }

    .more-text-container {
        display:none;
    }

    .big-more-text-container {
        display:none;
    }

    /** DEF TAILLE TEXTE **/
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
        padding: 0;
        margin: 10px 0 8px 0;
    }

    p {
        font-size: 20px;
    }

    .small-text {
        font-size: 16px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 24px;
    }

    .no-margin {
        margin-top: 2px;
        margin-bottom: 10px;
        opacity: 0.4;
    }

    .sortie {
        display: none;
    }

    /** DEF MORE BUTTON **/
    .big-more-button {
        width: 180px;
        height: 56px;
        padding-top: 15px;
        font-size: 24px;
        margin-top: 50px;
        max-width: 75%;
    }

    .small-more-button {
        width: 150px;
        height: 50px;
        padding-top: 11px;
        font-size: 22px;
    }
}