/** MISE EN PAGE BLOC **/

.bloc-ext {
    padding: 18.9px;
}

.bloc-int {
    background-color: white;
    box-shadow: 0px 2px 20px black;
}

iframe {
    width: 80%;
    height: 40%;
    margin: auto;
}

.bloc-video {
    padding: 20px 0px 40px 0px;
    margin: 0 auto;
    text-align: center;
}

.bloc-info {
    padding: 0px 25px 30px 25px;
    border-left: 1px solid #d9d9d9;
}

.bloc-principal {
    margin-bottom: 20px;
}

.contenu {
    padding: 0px 20px 0px 20px;
}

.onglets {
    background-color: #d9d9d9;
    padding: 5px;
    text-align: center;
}

.bloc-vide {
    height: 20px;
}

.bloc-info .presentation {
    margin-bottom: 50px;
}

.membre {
    margin-bottom: 25px;
}

.actualité {
    box-shadow: 1px 1px 30px #B2B2B2;
    margin-top: 30px;
    min-height: 126px;
}

.actualité img {
    width: 100%;
    object-fit: contain;
}

footer {
    box-shadow: none;
}

body {
    background-size: 100%;
    background: fixed;
}

header {
    box-shadow: none;
}

/** MISE EN PAGE TEXTE **/

.bloc-info .presentation p {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    color: black;
}

.bloc-info .presentation h2 {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.bloc-info .createurs h2 {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.membre p {
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    margin-top: 0;
}

.contenu h2 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}

.contenu p {
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    color: black;
}

.bloc-actu .nav-articles {
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
}

.bloc-actu .nav-articles b {
    font-size: 18px;
    font-weight: 200;
}

.nav-articles {
    margin-top: 20px;
}

.bloc-actu .onglets .tab{
    display: inline-block;
    margin: 0 20px 0 20px;
}

.bloc-actu .onglets .tab a{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #4c4c4c;
    margin-top: 5px;
}

.bloc-actu .onglets .tab a:hover {
    color: #686868;
    text-decoration: none;
}

.bloc-actu .onglets .tab .focus {
    font-weight: bold;
    text-shadow: 1px 1px 20px grey;
}

/** MIS EN PAGE IMAGE **/

.bloc-header {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 100px 0 10% 40px;
}

.membre img {
    margin-bottom: 0;
}

.bloc-header img {
    padding: 70px 0 0 0;
    margin: 0;
    width: 120px;
}

.nav-left {
    background-image: url(../images/projets/barre-gauche.png);
    width: 11px;
    height: 37px;
    background-size: 100%;
    display: inline-block;
}

.nav-right {
    background-image: url(../images/projets/barre-droite.png);
    width: 11px;
    height: 37px;
    background-size: 100%;
    display: inline-block;
}

/** MISE EN PAGE BOUTONS **/
.contenu .button-more {
    display: block;
    width: 120px;
    height: 25px;
    background-color: #5e5e5e;
    color: white;
    padding-top: 0;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    margin-right: -20px;
    float: right;
}

.contenu .button-more:hover {
    text-decoration: none;
    background-color: #686868;
}

.morecontent span {
    display: none;
}

/** -------------------------------------------------------------------------------------------------------------------------- **/

/** TAILLE LARGE **/

@media screen and (min-width: 1300px) {

    .bloc-header {
        min-height: 290px;
    }
}

/** TAILLE MEDIUM **/

@media screen and (min-width: 1024px) and (max-width: 1299px) {

    .bloc-header {
        min-height: 290px;
    }
}

/** TAILLE SMALL **/

@media screen and (min-width: 768px) and (max-width: 1023px){

}

/** TAILLE XS **/

@media screen and (min-width: 500px) and (max-width: 767px) {

}

/** TAILLE XXS **/

@media screen and (min-width: 0px) and (max-width: 499px) {

}