/** MISE EN PAGE BLOC **/

.bloc-ext {
    padding: 18.9px;
}

.bloc-partenaire-gauche {
    background-color: white;
    box-shadow: 0 2px 20px #8f8f8f;
}

.bloc-partenaire-droit {
    background-color: white;
    box-shadow: 0 2px 20px #8f8f8f;
}

/** MISE EN PAGE TEXTE **/

.bloc-partenaire-texte {

    font-family: 'Dosis', sans-serif;
    color: black;
    display: block;
}

/** MIS EN PAGE IMAGE **/

.col-md-7 p {
    color: #000;
}

/** -------------------------------------------------------------------------------------------------------------------------- **/

/** TAILLE LARGE **/

@media screen and (min-width: 1300px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-partenaire-gauche {
        padding-top: 20px;
        margin-left: 102px;
        margin-right: 21px;
        width: 495px;
        padding-bottom: 20px;
    }

    .bloc-partenaire-droit {
        padding-top: 20px;
        margin-left: 21px;
        margin-right: 102px;
        width: 495px;
        padding-bottom: 20px;
    }

    /** MISE EN PAGE TEXTE **/
    h1 {
        font-size: 56px;
        padding: 100px 0 0 0;
    }

    .bloc-partenaire-texte {

        font-size: 20px;
        margin-bottom: 0;
        padding: 0 40px 0 40px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-partenaire-logo img {
        margin: 0 20px 50px 20px;
    }
}

/** TAILLE MEDIUM **/

@media screen and (min-width: 1024px) and (max-width: 1299px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-partenaire-gauche {
        padding-top: 24px;
        margin-left: 50px;
        margin-right: 21px;
        width: 420px;
        height: 500px;
    }

    .bloc-partenaire-droit {
        padding-top: 20px;
        margin-left: 21px;
        margin-right: 50px;
        width: 420px;
        height: 500px;
    }

    /** MISE EN PAGE TEXTE **/
    h1 {
        font-size: 45px;
        padding: 50px 0 0 0;
    }

    .bloc-partenaire-texte {

        font-size: 18px;
        margin-bottom: 0;
        padding: 0 20px 0 20px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-partenaire-logo img {
        margin: 0 20px 50px 20px;
    }
}

/** TAILLE SMALL **/

@media screen and (min-width: 768px) and (max-width: 1023px){

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-partenaire-gauche {
        padding: 20px;
        margin: 0 0 40px 0;
        width: 100%;
        height: 100%;
    }

    .bloc-partenaire-droit {
        padding: 20px;
        margin: 0 0 40px 0;
        width: 100%;
        height: 100%;
    }

    /** MISE EN PAGE TEXTE **/
    h1 {
        font-size: 35px;
        text-align: center;
    }

    .bloc-partenaire-texte {

        font-size: 16px;
        margin-bottom: 0;
        padding: 0 20px 0 20px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-partenaire-logo img {
        margin: 0 20px 50px 20px;
    }

    footer {
        margin-top: 0;
    }
}

/** TAILLE XS **/

@media screen and (min-width: 500px) and (max-width: 767px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        width: 100%;
        padding: 18.9px;
    }

    .bloc-partenaire-gauche {
        padding: 20px;
        margin: 0 0 40px 0;
        width: 100%;
    }

    .bloc-partenaire-droit {
        padding: 20px;
        margin: 0 0 40px 0;
        width: 100%;
    }

    .bloc-int {
        width: 100%;
        box-shadow: none;
    }

    /** MISE EN PAGE TEXTE **/
    h1 {
        font-size: 35px;
        text-align: center;
    }

    /** MIS EN PAGE IMAGE **/

    .bloc-partenaire-logo img {
        margin: 20px 0;
    }
}

/** TAILLE XXS **/

@media screen and (min-width: 0px) and (max-width: 499px) {
    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        width: 100%;
        padding: 18.9px;
    }

    .bloc-partenaire-gauche {
        padding: 20px;
        margin: 0 0 40px 0;
        width: 100%;
    }

    .bloc-partenaire-droit {
        padding: 20px;
        margin: 0 0 40px 0;
        width: 100%;
    }

    .bloc-int {
        width: 100%;
        box-shadow: none;
    }

    /** MISE EN PAGE TEXTE **/
    h1 {
        font-size: 35px;
        text-align: center;
    }

    /** MIS EN PAGE IMAGE **/

    .bloc-partenaire-logo img {
        margin: 20px 0;
        width: 100%;
    }
}