/** MISE EN PAGE BLOC **/

.bloc-ext {
    padding: 18.9px;
}

.bloc-int {
    background-color: white;
    box-shadow: 0 2px 20px #8f8f8f;
    padding-bottom: 90px;
}

.bloc-res-soc a {
    text-decoration: none;
}

input[type=text] {
    width: 43.6em;
}

textarea {
    border: #cecece 2px solid;
    border-radius: 4px;
    resize: vertical;
    width: 43.6em;
    height: 5em;
    margin-bottom: 20px;
}

input[type=submit] {
    background: #3878bc;
    color: white;
    border: 1px solid #336ca9;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 34px;
    width: 60px;
    font-family: 'Lato', sans-serif;
    padding-left: 7px;
}

input {
    border: #cecece 2px solid;
    border-radius: 4px;
    height: 34px;
    padding-left: 15px;
}

:focus {
    outline: none;
    border: #3878bc 3px solid;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #a19999;
    font-size: 14px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a19999;
    opacity: 1;
    font-size: 14px;
    text-indent: 15px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a19999;
    opacity: 1;
    font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a19999;
    font-size: 14px;
}

/** MISE EN PAGE TEXTE **/

.bloc-introduction p {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-left: 30px;
    margin-bottom: 20px;
}

.titre h1 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: black;
    padding: 0 0 0 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.bloc-header h1 {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
    padding-top: 165px;
    text-shadow: 1px 1px 20px grey;
}

.bloc-res-soc {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.formulaire-input {
    padding-left: 10px;
}

.formulaire-label {
    padding-top: 6px;
    font-weight: bold;
}

/** MIS EN PAGE IMAGE **/

.bloc-header {
    width: 1205px;
    height: 270px;
    background-size: 100%;
    padding: 20px 0 0 0;
    background: url(../images/contact/background-contact.jpg) no-repeat;
}

/** -------------------------------------------------------------------------------------------------------------------------- **/

/** TAILLE LARGE **/

@media screen and (min-width: 1300px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-introduction {
        padding: 40px 80px 0 80px;
    }

    .bloc-formulaire-champs {
        padding-bottom: 50px;
    }

    .formulaire-input {
        padding-left: 10px;
    }

    .formulaire-label {
        padding-top: 6px;
        font-weight: bold;
    }

    .formulaire-submit {
        padding-left: 10px;
        padding-top: 20px;
    }

    .bloc-res-soc {
        margin-bottom: 50px;
        margin-left: 8%;
        margin-right: 8%;
    }

    /** MISE EN PAGE TEXTE **/
    h1 {
        font-size: 56px;
        padding: 0 0 0 0;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-res-soc img {
        width: 141px;
        height: 141px;
    }

    .bloc-header img {
        padding: 135px 0 0 0;
        margin: 0;
        width: 120px;
    }

}

/** TAILLE MEDIUM **/

@media screen and (min-width: 1024px) and (max-width: 1299px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-introduction {
        padding: 20px 0 0 0;
        margin: 0 0 0 0;
    }

    .bloc-formulaire-champs {
        padding-bottom: 50px;
    }

    .formulaire-submit {
        padding: 20px 0 20px 10px;
    }

    input[type=text] {
        width: 35em;
    }

    textarea {
        width: 35em;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-header h1 {
        font-size: 45px;
        padding: 0 0 0 0;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 955px;
        height: 270px;
        padding: 0 0 0 0;
        text-align: center;
    }

    .bloc-header img {
        padding: 0 0 0 0;
        margin: 150px 0 0 -20px;
        width: 80px;
    }

    .bloc-res-soc img {
        width: 141px;
        height: 141px;
    }

    .bloc-res-soc{
        margin-left: 8%;
        margin-right: 8%;
    }
}

/** TAILLE SMALL **/

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-header {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .bloc-header h1 {
        padding: 30px 0 0 0;
    }

    .bloc-introduction {
        padding: 0 0 0 0;
        margin: -20px 0 0 0;
    }

    input[type=text] {
        width: 22.5em;
    }

    textarea {
        width: 22.5em;
    }

    /** MISE EN PAGE TEXTE **/
    h1 {
        font-size: 35px;
        text-align: center;
    }

    .bloc-res-soc {
        font-size: 12px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 663px;
        height: 166px;
        padding: 30px 0 0 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .bloc-header img {
        display: none;
    }

    .bloc-res-soc{
        margin-left: 8%;
        margin-right: 8%;
    }
}

/** TAILLE XS **/

@media screen and (min-width: 500px) and (max-width: 767px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        width: 100%;
        padding: 0;
    }

    .bloc-int {
        width: 100%;
        box-shadow: none;
    }

    .bloc-presentation-generale {
        padding: 0 80px 0 80px;
        width: 100%;
    }

    .bloc-presentation-membres {
        padding: 40px 50px 40px 50px;
        width: 100%;
    }

    .user {
        width: 169px;
        height: 150px;
        min-height: 128px;
        max-height: 128px;
        margin: 12px 0 12px 0;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    .bloc-header h1 {
        padding: 30px 0 0 0;
    }

    h1 {
        font-size: 35px;
        text-align: center;
    }

    .role {
        font-size: 14px;
        margin: 0;
        padding: 0 0 0 0;
        height: 32px;
    }

    .nom {
        font-size: 14px;
        width: 128px;
        margin: -26px auto 0 auto;
        padding: 3px 0 3px 0;

    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 100%;
        height: 166px;
        padding: 30px 0 0 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .bloc-header .col-lg-2 {
        display: none;
    }

    .bloc-res-soc div{
        float: none;
        display: inline-block;
        margin: 4%;
    }
}

@media screen and (min-width: 0px) and (max-width: 499px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        width: 100%;
        padding: 0;
    }

    .bloc-int {
        width: 100%;
        box-shadow: none;
    }

    .bloc-presentation-generale {
        padding: 0 80px 0 80px;
        width: 100%;
    }

    .bloc-presentation-membres {
        padding: 40px 50px 40px 50px;
        width: 100%;
    }

    .user {
        width: 169px;
        height: 150px;
        min-height: 128px;
        max-height: 128px;
        margin: 12px 0 12px 0;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    .bloc-header h1 {
        padding: 30px 0 0 0;
    }

    h1 {
        font-size: 35px;
        text-align: center;
    }

    .role {
        font-size: 14px;
        margin: 0;
        padding: 0 0 0 0;
        height: 32px;
    }

    .nom {
        font-size: 14px;
        width: 128px;
        margin: -26px auto 0 auto;
        padding: 3px 0 3px 0;

    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 100%;
        height: 166px;
        padding: 30px 0 0 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .bloc-header .col-lg-2 {
        display: none;
    }

    .g-recaptcha {
        transform: scale(0.72);
        -webkit-transform: scale(0.72);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .col-xs-3{
        width: 60%;
    }

    .col-xs-1 {
        display: none;
    }
}