/** MISE EN PAGE BLOC **/

.bloc-ext {
    padding: 18.9px;
}

.bloc-int {
    background-color: white;
    box-shadow: 0 2px 20px #8f8f8f;
}

.bloc-mentionslegales {
    padding: 30px 30px 30px 30px;
}

/** MISE EN PAGE TEXTE **/

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 80px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
}

p {
    font-famiy: Dosis;
    font-size: 18px;
    color: black;
    margin-bottom: 30px;
}

/** MIS EN PAGE IMAGE **/

.bloc-cadrelogos {
    background-color: #CECECE;
    margin-bottom: 30px;
    padding: 15px 20px 15px 20px;
}

.bloc-cadrelogos div{
    display: inline-block;
}

.bloc-cadrelogos img {
    display: block;
    float: left;
    max-width: 100%;
    max-height:90px;
    width: auto;
    height: auto;
}

.hebergement img {
    height: 122px;
    margin-bottom: 30px;
}

/** -------------------------------------------------------------------------------------------------------------------------- **/

/** TAILLE LARGE **/

@media screen and (min-width: 1300px) {

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    .bloc-cadrelogos img {
        margin: 0 30px;
    }

}

/** TAILLE MEDIUM **/

@media screen and (min-width: 1024px) and (max-width: 1299px) {

    .bloc-cadrelogos img {
        margin: 0 10px;
    }

}

/** TAILLE SMALL **/

@media screen and (min-width: 768px) and (max-width: 1023px){

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
    }

    .bloc-cadrelogos img {
        margin: 10px;
    }

}

/** TAILLE XS **/

@media screen and (min-width: 500px) and (max-width: 767px) {

    .bloc-cadrelogos img {
        margin: 10px;
    }

}

/** TAILLE XXS **/

@media screen and (min-width: 0px) and (max-width: 499px) {

    .bloc-cadrelogos img {
        margin: 10px 0;
    }

}