/** MISE EN PAGE BLOC **/

.bloc-ext {
    padding: 18.9px;
}

.bloc-int {
    background-color: white;
    box-shadow: 0 2px 20px #8f8f8f;
}

.bloc-presentation-postes {
    background-color: #404040;
}

/** MISE EN PAGE TEXTE **/

.bloc-presentation-generale p {
    font-family: 'Dosis', sans-serif;
    color: black;

}

h1 {
    font-family: 'Lato', sans-serif;
    color: white;
    text-shadow: 1px 1px 20px grey;
}

.bloc-presentation-postes .poste-image h2 {
    color: white;
    text-shadow: 1px 2px 6px #1e1e1e;
    text-align: center;
    margin-top: 115px;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.poste-resume p {
    color: white;
    font-family: 'Dosis', sans-serif;
}

.color-true {
    color: #4b9f55;
}

.color-false {
    color: #e94951;
}

/** MIS EN PAGE IMAGE **/

.bloc-header {
    background-size: 100%;
    background: url(../images/recrutement/background-recrutement.jpg) no-repeat;
}

.poste-image {
    box-shadow: 0 2px 20px #212121;
}

#extend {
    display: none;
    color: #FFF;
    padding: 10px;
    background-color: #404040;
}

.button-more a img {
    width: 76px;
    height: 55.2px;
    z-index: 99999;

}

.button-more {
    margin-top: -20px;
}

#extend {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    color: white;
}

.bloc-end {
    margin: 0 100px 60px 100px;
    display: block;
}

/** TAILLE LARGE **/

@media screen and (min-width: 1300px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 40px 80px 0 80px;
        margin-bottom: 60px;
    }

    .bloc-presentation-postes {
        margin: 0 100px 60px 100px;
    }

    .poste-resume {
        padding: 0 30px 0 30px;
    }

    .poste-image {
        overflow: hidden;
        max-height: 280px;
    }

    /** MISE EN PAGE TEXTE **/

    .bloc-presentation-generale p {
        font-size: 18px;
    }

    .statut {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 0;
    }

    h1 {
        font-size: 56px;
        padding: 55px 0 0 0;
    }

    .poste-image h2 {
        position: absolute;
        margin: 115px auto;
        width: 100%;
    }

    .poste-resume p {
        font-size: 19px;
        padding-top: 10px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 1205px;
        height: 270px;
        padding: 100px 0 0 40px;
    }

    .bloc-header img {
        padding: 35px 0 0 0;
        margin: 0;
        width: 120px;
    }

    .bloc-presentation-postes img {
        max-width: 530px;
        max-height: 280px;
        height: 100%;
        width: 100%;
    }
}

/** TAILLE MEDIUM **/

@media screen and (min-width: 1024px) and (max-width: 1299px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 40px 80px 0 80px;
        margin-bottom: 60px;
    }

    .bloc-presentation-postes {
        margin: 0 10px 60px 10px;
    }

    .poste-resume {
        padding: 0 30px 0 30px;
    }

    .poste-image {
        overflow: hidden;
        max-height: 280px;
    }

    /** MISE EN PAGE TEXTE **/

    .bloc-presentation-generale p {
        font-size: 18px;
    }

    .statut {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 0;
    }

    h1 {
        font-size: 56px;
        padding: 55px 0 0 0;
    }

    .poste-image h2 {
        position: absolute;
        margin: 115px auto;
        width: 100%;
    }

    .poste-resume p {
        font-size: 19px;
        padding-top: 10px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        padding: 100px 0 0 40px;
    }

    .bloc-header img {
        padding: 35px 0 0 0;
        margin: 0;
        width: 120px;
    }

    .bloc-presentation-postes img {
        max-width: 530px;
        max-height: 280px;
        height: 100%;
        width: 100%;
    }
}

/** TAILLE SMALL **/

@media screen and (min-width: 768px) and (max-width: 1023px){

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 40px 80px 0 80px;
        margin-bottom: 60px;
    }

    .bloc-presentation-postes {
        margin: 0 10px 60px 10px;
    }

    .poste-resume {
        padding: 0 30px 0 30px;
    }

    .poste-image {
        overflow: hidden;
        max-height: 280px;
        text-align: center;
    }

    /** MISE EN PAGE TEXTE **/

    .bloc-presentation-generale p {
        font-size: 18px;
    }

    .statut {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 0;
    }

    h1 {
        font-size: 56px;
        padding: 55px 0 0 0;
    }

    .poste-image h2 {
        position: absolute;
        margin: 115px auto;
        width: 100%;
    }

    .poste-resume p {
        font-size: 19px;
        padding-top: 10px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        padding: 100px 0 0 40px;
    }

    .bloc-header img {
        padding: 35px 0 0 0;
        margin: 0;
        width: 120px;
    }

    .bloc-presentation-postes img {
        max-width: 530px;
        max-height: 280px;
        height: 100%;
        width: 100%;
    }
}

/** TAILLE XS **/

@media screen and (min-width: 500px) and (max-width: 767px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 40px 80px 0 80px;
        margin-bottom: 60px;
    }

    .bloc-presentation-postes {
        margin: 0 10px 60px 10px;
    }

    .poste-resume {
        padding: 0 30px 0 30px;
    }

    .poste-image {
        overflow: hidden;
        max-height: 280px;
        text-align: center;
    }

    /** MISE EN PAGE TEXTE **/

    .bloc-presentation-generale p {
        font-size: 18px;
    }

    .statut {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 0;
    }

    h1 {
        font-size: 56px;
        padding: 55px 0 0 0;
    }

    .poste-image h2 {
        position: absolute;
        margin: 115px auto;
        width: 100%;
    }

    .poste-resume p {
        font-size: 19px;
        padding-top: 10px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        padding: 100px 0 0 40px;
    }

    .bloc-header img {
        padding: 35px 0 0 0;
        margin: 0;
        width: 120px;
    }

    .bloc-presentation-postes img {
        max-width: 530px;
        max-height: 280px;
        height: 100%;
        width: 100%;
    }
}

/** TAILLE XXS **/

@media screen and (min-width: 0px) and (max-width: 499px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 40px 40px 0 40px;
        margin-bottom: 60px;
    }

    .bloc-presentation-postes {
        margin: 0 10px 60px 10px;
    }

    .poste-resume {
        padding: 0 30px 0 30px;
    }

    .poste-image {
        overflow: hidden;
        max-height: 280px;
        text-align: center;
    }

    /** MISE EN PAGE TEXTE **/

    .bloc-presentation-generale p {
        font-size: 18px;
    }

    .statut {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 0;
    }

    h1 {
        font-size: 30px;
        padding: 30px 0 0 0;
    }

    .poste-image h2 {
        position: absolute;
        margin: 115px auto;
        width: 100%;
    }

    .poste-resume p {
        font-size: 19px;
        padding-top: 10px;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        padding: 100px 0 0 40px;
    }

    .bloc-header img {
        padding: 35px 0 0 0;
        margin: 0;
        width: 120px;
    }

    .bloc-presentation-postes img {
        max-width: 530px;
        max-height: 280px;
        height: 100%;
        width: 100%;
    }
}