/** MISE EN PAGE BLOC **/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
    z-index: 10;
}

.bloc-ext {
    padding: 18.9px;
}

.bloc-int {
    background-color: white;
    box-shadow: 0 2px 20px #8f8f8f;
    padding: 0 0 75px 0;
}

/** MISE EN PAGE TEXTE **/

.titre {
    font-family: 'Lato', sans-serif;
    font-size: 160px;
    font-weight: bold;
}

.sous-titre {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.sous-titre a:hover {
    text-decoration: underline;
}

.img-potame {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/** MIS EN PAGE IMAGE **/

/** -------------------------------------------------------------------------------------------------------------------------- **/

/** TAILLE LARGE **/

@media screen and (min-width: 1300px) {

    footer {
        padding-left: 18.9px;
        padding-right: 18.9px;
    }

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .titre {
        margin: 60px 0 -50px 0;
        padding: 0 0 0 195px;
    }

    .sous-titre p[id="1"] {
        margin: 20px 0 60px 0;
        padding: 0 0 0 385px;
    }

    .sous-titre p[id="2"] {
        margin: 0 -23px 0 100px;
        padding: 0 0 0 0;
    }

    .sous-titre p[id="3"] {
        margin: 0 0 0 90px;
        padding: 0 0 0 0;
    }

    .msg-random {
        margin: 0 -90px 40px 40px;
        padding: 0 0 0 0;
    }

    .img-potame p {
        margin: -5px 315px 0 -100px;
    }

    /** MISE EN PAGE TEXTE **/
    .msg-random {
        font-family: 'Lato', sans-serif;
        font-size: 36px;

    }

    /** MIS EN PAGE IMAGE **/
    .img-potame img {
        margin-left: -30px;
        height: 538px;
        margin-top: 90px;
    }

}

/** TAILLE MEDIUM **/

@media screen and (min-width: 1024px) and (max-width: 1299px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .titre {
        margin: 60px 0 -50px 0;
        padding: 0 0 0 145px;
    }

    .sous-titre p[id="1"] {
        margin: 20px 0 10px 0;
        padding: 0 0 0 300px;
    }

    .sous-titre p[id="2"] {
        margin: 0 -40px 0 30px;
        padding: 0 0 0 0;
    }

    .sous-titre p[id="3"] {
        margin: 0 0 0 50px;
        padding: 0 0 0 0;
    }

    .msg-random {
        margin: 0 -90px 20px 20px;
        padding: 0 0 0 0;
    }

    .img-potame p {
        margin: -5px 210px 0 -150px;
    }

    /** MISE EN PAGE TEXTE **/
    .msg-random {
        font-family: 'Lato', sans-serif;
        font-size: 36px;

    }

    /** MIS EN PAGE IMAGE **/
    .img-potame img {
        margin-left: -30px;
        height: 400px;
        margin-top: 90px;
    }

}

/** TAILLE SMALL **/

@media screen and (min-width: 768px) and (max-width: 1023px){

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .titre {
        margin: 60px 0 -50px 0;
        padding: 0 0 0 80px;
        font-size: 120px;
    }

    .sous-titre p[id="1"] {
        margin: 20px 0 10px 0;
        padding: 0 0 0 200px;
    }

    .sous-titre p[id="2"] {
        margin: 0 -40px 0 10px;
        padding: 0 0 0 0;
    }

    .sous-titre p[id="3"] {
        margin: 0 -200px 0 80px;
        padding: 0 0 0 0;
    }

    .msg-random {
        line-height: 35px;
        margin: 0 -90px 40px 20px;
        padding: 0 0 0 0;
    }

    .img-potame p {
        margin: -5px 60px 0 -150px;
    }

    /** MISE EN PAGE TEXTE **/
    .msg-random {
        font-family: 'Lato', sans-serif;
        font-size: 30px;

    }

    .sous-titre p[id="2"] {
        font-size: 14px;
    }

    .sous-titre p[id="3"] {
        font-size: 14px;
    }

    /** MIS EN PAGE IMAGE **/
    .img-potame img {
        margin-left: -50px;
        height: 325px;
        margin-top: 90px;
    }
}

/** TAILLE XS **/

@media screen and (min-width: 500px) and (max-width: 767px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .titre {
        margin: 0 0 -20px 0;
        text-align: center;
    }

    .sous-titre{
        text-align: center;
    }

    .sous-titre p[id="1"] {
        margin: 0 0 30px 0;
        padding: 0 0 0 200px;
    }

    .sous-titre p[id="2"] {
        margin: 0 -40px 0 10px;
        padding: 0 0 0 0;
    }

    .sous-titre p[id="3"] {
        margin: 0 -200px 0 80px;
        padding: 0 0 0 0;
    }

    .msg-random {
        line-height: 35px;
        margin: 0 -90px 40px 0;
        padding: 0 10px 0 10px;
        text-align: center;
    }

    /** MISE EN PAGE TEXTE **/
    .msg-random {
        font-family: 'Lato', sans-serif;
        font-size: 30px;

    }

    .sous-titre p[id="2"] {
        font-size: 14px;
    }

    .sous-titre p[id="3"] {
        font-size: 14px;
    }

    /** MIS EN PAGE IMAGE **/
    .img-potame {
        display:none;
    }
}

/** TAILLE XXS **/

@media screen and (min-width: 0px) and (max-width: 499px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .titre {
        margin: 0 0 -20px 0;
        text-align: center;
        font-size: 140px;
        padding: 0 15px 0 15px;
    }

    .sous-titre{
        text-align: center;
    }

    .sous-titre p[id="1"] {
        margin: 0 0 20px 0;
        padding: 0 0 0 120px;
    }

    .sous-titre p[id="2"] {
        margin: 0 -40px 0 10px;
        padding: 0 0 0 0;
    }

    .sous-titre p[id="3"] {
        margin: 0 -200px 0 80px;
        padding: 0 0 0 0;
    }

    .msg-random {
        line-height: 35px;
        margin: 0 -90px 20px 0;
        padding: 0 10px 0 10px;
        text-align: center;
    }

    /** MISE EN PAGE TEXTE **/
    .msg-random {
        font-family: 'Lato', sans-serif;
        font-size: 30px;

    }

    .sous-titre p[id="2"] {
        font-size: 14px;
    }

    .sous-titre p[id="3"] {
        font-size: 14px;
    }

    /** MIS EN PAGE IMAGE **/
    .img-potame {
        display:none;
    }

}