/** MISE EN PAGE BLOC **/

.bloc-ext {
    padding: 18.9px;
}

.bloc-int {
    background-color: white;
    box-shadow: 0 2px 20px #8f8f8f;
}

.bloc-presentation-generale {
    padding: 40px 80px 0 80px;
}

.bloc-presentation-membres {
    padding: 40px 170px 40px 170px;
}

.user {
    width: 169px;
    height: 150px;
    min-height: 128px;
    max-height: 128px;
    margin: 12px 0 12px 0;
    display: inline-block;
}

/** MISE EN PAGE TEXTE **/

.bloc-presentation-generale p {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: black;

}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 56px;
    color: white;
    padding: 100px 0 0 0;
}

.role {

    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0 0 0 0;
    display: block;
    height: 50px;
    overflow: hidden;
}

.nom {
    background: black;
    text-align: center;
    font-weight: bold;
    opacity: 0.7;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: white;
    display: block;
    margin: 0 auto 0 auto;
    padding: 3px 0 3px 0;
}

/** MIS EN PAGE IMAGE **/

.bloc-header {
    width: 1205px;
    height: 323px;
    background-size: 100%;
    background: url(../images/presentation/background-presentation.jpg) no-repeat;
    padding: 100px 0 0 40px;
}

.bloc-header img {
    padding: 70px 0 0 0;
    margin: 0;
    width: 120px;
}

.bloc-header h1 {
    text-shadow: 1px 1px 20px grey;
}

/** -------------------------------------------------------------------------------------------------------------------------- **/

/** TAILLE LARGE **/

@media screen and (min-width: 1300px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 40px 80px 0 80px;
    }

    .bloc-presentation-membres {
        padding: 40px 170px 40px 170px;
    }

    .user {
        width: 169px;
        height: 150px;
        min-height: 128px;
        max-height: 128px;
        margin: 12px 0 12px 0;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    h1 {
        font-size: 56px;
        padding: 80px 0 0 0;
    }

    .role {
        font-size: 14px;
        margin: 0;
        padding: 0 0 0 0;
        height: 50px;
    }

    .nom {
        font-size: 14px;
        width: 128px;
        margin: -26px auto 0 auto;
        padding: 3px 0 3px 0;
        height: 26px;
        overflow: hidden;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 1205px;
        height: 270px;
        padding: 100px 0 0 40px;
    }

    .bloc-header img {
        padding: 55px 0 0 0;
        margin: 0;
        width: 120px;
    }
}

/** TAILLE MEDIUM **/

@media screen and (min-width: 1024px) and (max-width: 1299px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 40px 80px 0 80px;
    }

    .bloc-presentation-membres {
        padding: 40px 100px 40px 100px;
    }

    .user {
        width: 169px;
        height: 150px;
        min-height: 128px;
        max-height: 128px;
        margin: 12px 0 12px 0;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    h1 {
        font-size: 45px;
        padding: 50px 0 0 0;
    }

    .role {
        font-size: 14px;
        margin: 0;
        padding: 0 0 0 0;
        height: 50px;
    }

    .nom {
        font-size: 14px;
        width: 128px;
        margin: -26px auto 0 auto;
        padding: 3px 0 3px 0;
        height: 26px;
        overflow: hidden;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 955px;
        height: 256px;
        padding: 100px 0 0 0;
        text-align: center;
    }

    .bloc-header .col-lg-2 {
        display: none;
    }
}

/** TAILLE SMALL **/

@media screen and (min-width: 768px) and (max-width: 1023px){

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        padding: 18.9px;
    }

    .bloc-presentation-generale {
        padding: 0 80px 0 80px;
    }

    .bloc-presentation-membres {
        padding: 40px 50px 40px 50px;
    }

    .user {
        width: 169px;
        height: 150px;
        min-height: 128px;
        max-height: 128px;
        margin: 12px 0 12px 0;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
        text-align: center;
    }

    .role {
        font-size: 14px;
        margin: 0;
        padding: 0 0 0 0;
        height: 50px;
    }

    .nom {
        font-size: 14px;
        width: 128px;
        margin: -26px auto 0 auto;
        padding: 3px 0 3px 0;
        height: 26px;
        overflow: hidden;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 663px;
        height: 166px;
        padding: 30px 0 0 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .bloc-header .col-lg-2 {
        display: none;
    }
}

/** TAILLE XS **/

@media screen and (min-width: 500px) and (max-width: 767px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        width: 100%;
        padding: 0;
    }

    .bloc-int {
        width: 100%;
        box-shadow: none;
    }

    .bloc-presentation-generale {
        padding: 0 80px 0 80px;
        width: 100%;
    }

    .bloc-presentation-membres {
        padding: 40px 50px 40px 50px;
        width: 100%;
    }

    .user {
        width: 169px;
        height: 150px;
        min-height: 128px;
        max-height: 128px;
        margin: 12px 0 12px 0;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
        text-align: center;
    }

    .role {
        font-size: 14px;
        margin: 0;
        padding: 0 0 0 0;
        height: 50px;
    }

    .nom {
        font-size: 14px;
        width: 128px;
        margin: -26px auto 0 auto;
        padding: 3px 0 3px 0;
        height: 26px;
        overflow: hidden;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 100%;
        height: 166px;
        padding: 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .bloc-header .col-lg-2 {
        display: none;
    }
}

/** TAILLE XXS **/

@media screen and (min-width: 0px) and (max-width: 499px) {

    /** MISE EN PAGE BLOC **/
    .bloc-ext {
        width: 100%;
        padding: 0;
    }

    .bloc-int {
        width: 100%;
        box-shadow: none;
    }

    .bloc-presentation-generale {
        padding: 0 40px 0 40px;
        width: 100%;
    }

    .bloc-presentation-membres {
        padding: 40px 50px 40px 50px;
        width: 100%;
    }

    .user {
        width: 169px;
        height: 150px;
        min-height: 128px;
        max-height: 128px;
        margin: 20px 0 25px 0;
    }

    /** MISE EN PAGE TEXTE **/
    .bloc-presentation-generale p {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
        text-align: center;
    }

    .role {
        font-size: 14px;
        margin: 0;
        padding: 0 0 0 0;
        height: 50px;
    }

    .nom {
        font-size: 14px;
        width: 128px;
        margin: -26px auto 0 auto;
        padding: 3px 0 3px 0;
        height: 26px;
        overflow: hidden;
    }

    /** MIS EN PAGE IMAGE **/
    .bloc-header {
        width: 100%;
        height: 166px;
        padding: 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .bloc-header .col-lg-2 {
        display: none;
    }

}