@import url(https://fonts.googleapis.com/css?family=Dosis);
/** FONT FACE **/
@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
    font-family: 'bebas-neue';
    src: url('font/BebasNeue.otf');
}

/** COMMUN TOUTES TAILLES **/

/** GENERAL **/

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #e8e8e8;
    height: 100%;
}

.container {
    padding-bottom: 30px;
}

input {
    width: 100% !important;
}

textarea {
    width: 100% !important;
}

select {
    width: 100% !important;
}

label {
    padding-left: 10px !important;
}

a, a:hover, a:focus, a:active, a:visited {
    border: none;
    text-decoration: none;
}

header {
    margin-bottom: 3%;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #393939;
    height: 30px;
    box-shadow: 0 1px 4px #a7a7a7;
    color: #f0f0f0;
    padding: 0 19px 0 19px;
}

footer .col-xs-7 a {
    color: #f0f0f0;
}

.navbar .container{
    padding: 0;
}

.navbar li>a {
    padding: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f0f0f0;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #b9b9b9;
    text-decoration: none;
    text-shadow: 0 0 7px rgba(0,0,0, 0.5);
}

.logo-header {
    background: url(../images/logo-header.png);
    background-size: contain;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    display:block;
    max-width: 500px;
    max-height: 155px;
    z-index: 9999;
}

.navbar .accueil {
    display:none;
}

.group-icon-bar {
    display:inline-block;
}

.text-icon-menu {
    display:inline-block;
}

/** -------------------------------------------------------------------------------------------------------------------------- **/

/** TAILLE LARGE **/

@media screen and (min-width: 1300px) {

    footer {
        padding-top: 6px;
        font-size: 15px;
        padding-left: 19px;
        padding-right: 19px;
    }

    .navbar-inverse {
        background: #393939;
        border: none;
        height: 100px;
        color: #f0f0f0;
        font-size: 25px;
        font-family: 'Dosis', sans-serif;
    }

    .navbar, .navbar li, .navbar li a {
        display: block;
    }

    .navbar ul {
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
    }

    .navbar li {
        margin-top: 3.5%;
    }

    .navbar .left {
        float: left;
        margin-right: 5%;
    }

    .navbar .right {
        float: right;
    }

    .navbar .recrutement {
        margin-right: 15%
    }

    .navbar .contact {
        margin-right: -25%;
    }

    .logo-header {
        width: 500px;
        height: 155px;
    }

    .logo-header a{
        display:block;
        margin: 0 auto;
        width:350px;
        height:110px;
    }
}

/** TAILLE MEDIUM **/

@media screen and (min-width: 1024px) and (max-width: 1299px) {

    footer {
        padding-top: 6px;
        font-size: 14px;
    }

    .navbar-inverse {
        background: #393939;
        border: none;
        height: 60px;
        color: #f0f0f0;
        font-size: 18px;
        font-family: 'Dosis', sans-serif;
    }

    .navbar, .navbar li, .navbar li a {
        display: block;
    }

    .navbar ul {
        width: 100%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .navbar li {
        margin-top: 2%;
    }

    .navbar .left {
        float: left;
        margin-right: 8%;
    }

    .navbar .right {
        float: right;
    }

    .navbar .recrutement {
        margin-right: 15%
    }

    .navbar .contact {
        margin-right: -25%;
    }

    .logo-header {
        width: 333px;
        height: 100px;
    }

    .logo-header a{
        display:block;
        margin: 0 auto;
        width:220px;
        height:70px;
    }

}

/** TAILLE SMALL **/

@media screen and (min-width: 768px) and (max-width: 1023px){

    footer {
        padding-top: 6px;
        font-size: 13px;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin: 7.5px 0;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in{
        display:block !important;
    }

    .navbar-inverse {
        background: #393939;
        border: none;
        min-height: 60px;
        color: #f0f0f0;
        font-size: 18px;
        font-family: 'Dosis', sans-serif;
    }

    .logo-header {
        width: 333px;
        height: 100px;
    }

    .logo-header a{
        display:block;
        margin: 0 auto;
        width:220px;
        height:70px;
    }

}

/** TAILLE XS **/

@media screen and (min-width: 500px) and (max-width: 767px) {

    footer {
        padding-top: 6px;
        font-size: 12px;
    }

    .navbar-inverse {
        background: #393939;
        border: none;
        min-height: 60px;
        color: #f0f0f0;
        font-size: 18px;
        font-family: 'Dosis', sans-serif;
    }

    .navbar-toggle {
        margin-right: 20px;
    }

    .logo-header {
        width: 333px;
        height: 100px;
    }

    .logo-header a{
        display:block;
        margin: 0 auto;
        width:220px;
        height:70px;
    }
}

/** TAILLE XXS **/

@media screen and (min-width: 0px) and (max-width: 499px) {

    body {
        min-width: 320px;
    }

    footer {
        padding-top: 6px;
        font-size: 11px;
    }

    .navbar-inverse {
        background: #393939;
        border: none;
        min-height: 60px;
        color: #f0f0f0;
        font-size: 18px;
        font-family: 'Dosis', sans-serif;
    }

    .navbar-toggle {
        margin-right: 20px;
    }

    .navbar .accueil {
        display:list-item;
    }

    .logo-header, .logo-header a {
        display:none;
    }
}