.user_block {
    position: fixed;
    bottom: 0;
}

.user-header {
    height: 175px;
    padding: 10px 70px;
    text-align: center;
}

.user-header > img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.user-header > p {
    z-index: 5;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    margin-top: 10px;
}

.user-header > p > small {
    display: block;
    font-size: 12px;
}

.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}

.user-footer:before,
.user-footer:after {
    content: " ";
    display: table;
}

.user-footer:after {
    clear: both;
}

.user-footer .btn-default {
    color: #666666 !important;
}