{% extends 'ApplicationSonataNewsBundle::layout.html.twig' %}

{% block sonata_page_breadcrumb %}
	<div class="row-fluid clearfix">
		{{ sonata_block_render_event('breadcrumb', { 'context': 'news_archive', 'collection': collection, 'tag': tag, 'current_uri': app.request.requestUri }) }}
	</div>
{% endblock %}

{% block body %}

	<div class="archives">
		<h1>Archives</h1>

		<img class="archive_img" src="{{ asset('bundles/applicationsonatanews/img/archives.jpg') }}" />
		{% set previousdate = '' %}

		<div>Cliquez sur une des dates ci-dessous afin de voir tous les articles du mois.</div>

		{% for post in pager.getResults() %}
			{% if previousdate != post.publicationDateStart | format_date('MMMM y') %}
				<h1 class="month_archive"><a href="{{ url('sonata_news_archive_monthly', { 'month': post.publicationDateStart | format_date('MM'), 'year': post.publicationDateStart | format_date('y') }) }}">{{ post.publicationDateStart | format_date('MMMM y') | title }}</a></h1>
			{% endif %}

			{% set previousdate = post.publicationDateStart | format_date('MMMM y') %}

		{% else %}
			{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
		{% endfor %}

	</div>
	<ul class="pager">
		{% if pager.page != pager.lastPage %}
		<li><a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}</a>{% endif %}
		{% if pager.page != pager.firstPage %}
		<li><a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}</a></li>{% endif %}
	</ul>
{% endblock %}