{% extends 'ApplicationSonataNewsBundle::layout.html.twig' %}

{% block sonata_page_breadcrumb %}
	<div class="row-fluid clearfix">
		{{ sonata_block_render_event('breadcrumb', { 'context': 'news_archive', 'collection': collection, 'tag': tag, 'current_uri': app.request.requestUri }) }}
	</div>
{% endblock %}

{% block body %}
	<h2>Archives {% if app.request.get('year') is not empty %}{% if app.request.get('month') is not empty %}de {{ app.request.get('month') | convertdate }} {% endif %}{{ app.request.get('year') }}{% endif %}</h2>
	{% for post in pager.getResults() %}
		<article class="article">

			<h2 class="title-article">
				<a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title|capitalize }}</a>
			</h2>

			<a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{% media post.image, 'reference' with {'class': 'img-article img-responsive'} %}</a>

			<div class="info-article">
				<ul>
					<li class="date"><i class="fa fa-clock-o"></i> {{ post.publicationDateStart | format_date }}</li>
					<li class="author"><i class="fa fa-user"></i> <a href="{{ url('sonata_news_author', { 'author': post.author } ) }}">{{ post.author }}</a></li>
					<li class="comments"><i class="fa fa-comment-o"></i> <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}#comments">{% if post.commentThread.numComments == 0 %}Aucun commentaire{% endif %}{% if post.commentThread.numComments == 1 %}{{ post.commentThread.numComments }} commentaire{% endif %}{% if post.commentThread.numComments > 1 %}{{ post.commentThread.numComments }} commentaires{% endif %}</a></li>
					<li class="tags"><i class="fa fa-folder-open-o"></i> {% for tag in post.tags %}<a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>{% endfor %}</li>
				</ul>
			</div>

			<div>
				<p class="text-article">{{ post.content|raw }}</p>
			</div>

		</article>

		<hr />
	{% else %}
		{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
	{% endfor %}
{% endblock %}