{#
/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
<?xml version="1.0" ?>
<rss version="2.0">
	<channel>
		<title>{{ blog.title }}{% if tag %} : {{ tag.name }}{% endif %}</title>
		<link>{{ blog.link }}</link>
		<description>{{ blog.description }}</description>
		{% for post in pager.getResults() %}
			<item>
				<title>{{ post.title }}</title>
				<link>{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }, true) }}</link>
				<description><![CDATA[ {{ post.abstract }} ]]></description>
				<pubDate>{{ post.publicationDateStart | format_datetime('eee, MM LLL yyyy HH:mm:ss ZZZ', 'en') }}</pubDate>
				<guid>{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }, true) }}</guid>
			</item>
		{% endfor %}
	</channel>
</rss>
