{#

/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#}

<div class="blog-comment-container">
	<h3>{{ 'title_comments'|trans({}, 'SonataNewsBundle') }}</h3>

	<ul class="blog-comment-list">
		{% for comment in pager.results %}
			<li class="blog-comment">
				<div class="blog-comment-name">
					<a href="{{ comment.url }}" target="new" rel="nofollow">{{ comment.name }}</a>
				</div>
				<div class="blog-comment-date">
					{{ comment.createdAt | format_date }}
				</div>
				<div class="blog-comment-message">
					{{ comment.message }}
				</div>
			</li>
		{% else %}
			<li>{{ 'no_comments_available'|trans({}, 'SonataNewsBundle') }}</li>
		{% endfor %}
	</ul>
</div>
