{% extends 'ApplicationSonataNewsBundle::layout.html.twig' %}

{% block sonata_page_breadcrumb %}
	<div class="row-fluid clearfix">
		{{ sonata_block_render_event('breadcrumb', { 'context': 'news_archive', 'collection': collection, 'tag': tag, 'current_uri': app.request.requestUri }) }}
	</div>
{% endblock %}

{% block subheader %}
	<div class="subheader_box subheader_bg_img">
		<div class="title container">
			<div class="col-lg-5">
				<h1><span>Le Blog</span></h1>
				<p>Suivez toutes l'actualité de l'association sur ce blog !<br> Au programme :<br> les dernières conneries de Cefjic le Potame,<br> et toute l'info jambon avec Benedarius.</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	{% for post in pager.getResults() %}
		<article class="article">

			<h2 class="title-article">
				<a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title|capitalize }}</a>
			</h2>

			<a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{% media post.image, 'reference' with {'class': 'img-article img-responsive'} %}</a>

			<div class="info-article">
				<ul>
					<li class="date"><i class="fa fa-clock-o"></i> {{ post.publicationDateStart | format_date }}</li>
					<li class="author"><i class="fa fa-user"></i> <a href="{{ url('sonata_news_author', { 'author': post.author } ) }}">{{ post.author }}</a></li>
					<li class="comments"><i class="fa fa-comment-o"></i> <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}#comments">{% if post.commentThread.numComments == 0 %}Aucun commentaire{% endif %}{% if post.commentThread.numComments == 1 %}{{ post.commentThread.numComments }} commentaire{% endif %}{% if post.commentThread.numComments > 1 %}{{ post.commentThread.numComments }} commentaires{% endif %}</a></li>
					<li class="tags"><i class="fa fa-folder-open-o"></i> {% for tag in post.tags %}<a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>{% endfor %}</li>
				</ul>
			</div>

			<div>
				<p class="text-article">{{ post.content|raw }}</p>
			</div>

		</article>

		<hr />
	{% else %}
		{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
	{% endfor %}

	<ul class="pager">
		{% if pager.page != pager.lastPage %}
		<li><a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}</a>{% endif %}
		{% if pager.page != pager.firstPage %}
		<li><a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}</a></li>{% endif %}
	</ul>
{% endblock %}