{% extends 'ApplicationSonataNewsBundle::layout.html.twig' %}

{% block sonata_page_breadcrumb %}
	<div class="row-fluid clearfix">
		{{ sonata_block_render_event('breadcrumb', { 'context': 'news_post', 'post': post, 'current_uri': app.request.requestUri }) }}
	</div>
{% endblock %}

{% block body %}
	<article class="article">

		<h2 class="title-article">
			{{ post.title|capitalize }}
		</h2>

		{% media post.image, 'reference' with {'class': 'img-article img-responsive'} %}

		<div class="info-article">
			<ul>
				<li class="date"><i class="fa fa-clock-o"></i> {{ post.publicationDateStart | format_date }}</li>
				<li class="author"><i class="fa fa-user"></i> <a href="{{ url('sonata_news_author', { 'author': post.author.username } ) }}">{{ post.author.username }}</a></li>
				<li class="comments"><i class="fa fa-comment-o"></i> {% if post.commentThread.numComments == 0 %}<a href="#new_comment"> Aucun commentaire{% endif %}{% if post.commentThread.numComments == 1 %}<a href="#comments">{{ post.commentThread.numComments }} commentaire{% endif %}{% if post.commentThread.numComments > 1 %}<a href="#comments">{{ post.commentThread.numComments }} commentaires{% endif %}</a></li>
				<li class="tags"><i class="fa fa-folder-open-o"></i> {% for tag in post.tags %}<a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>{% endfor %}</li>
			</ul>
		</div>

		<div>
			<p class="text-article">{{ post.content|raw }}</p>
		</div>

	</article>

	<nav class="post-navigation">
		{% if previous is not empty %}
			<div class="previous_post"><a href="{{ url('sonata_news_view', { 'permalink': previous } ) }}"><span><i class="fa fa-angle-left"></i> Article précédent</span></a></div>{% endif %}
		{% if next is not empty %}
			<div class="next_post"><a href="{{ url('sonata_news_view', { 'permalink': next } ) }}"><span>Article suivant <i class="fa fa-angle-right"></i></span></a></div>{% endif %}
	</nav>

	<section class="post-author">
		<h3 class="author-title">A propos de l'auteur</h3>
		<img src="http://www.gravatar.com/avatar/{{ post.author.email|lower|md5 }}" height="100" width="100" class="author-avatar avatar avatar-100" />
		<div class="author-description"><span class="authorname">{{ post.author.username }}</span>
			<p>{{ post.author.biography }}</p></div>
		<div class="author-links">
			<a class="author-posts post-intbutton" href="{{ url('sonata_news_author', { 'author': post.author.username } ) }}">Voir tous ses articles</a>
			{% if post.author.website is not null %}<a class="author-website author-network" href="{{ post.author.website }}">Site</a>{% endif %}
			{% if post.author.twitterName is not null %}<a class="author-twitter author-network" href="https://twitter.com/{{ post.author.twitterName }}">Twitter</a>{% endif %}
			{% if post.author.facebookName is not null %}<a class="author-facebook author-network" href="https://www.facebook.com/{{ post.author.facebookName }}">Facebook</a>{% endif %}
			{# {% if post.author.skype is not defined %}<a class="author-skype author-network">Skype</a>{% endif %}
			   {% if post.author.youtube is not null %}<a class="author-youtube author-network">YouTube</a>{% endif %} #}
		</div>
	</section>

	<div class="post-comment">
		<div id="comment_thread" data-thread="{{ thread.id }}">

			{% include 'ApplicationSonataCommentBundle:Thread:comments.html.twig' with {
			'comments': comments,
			'thread': thread
			} %}

		</div>
	</div>

{% endblock %}