{% block user_block %}
	{% if app.user %}
		<div class="user_block">
			{% set _bg_class          = "bg-blue-active" %}
			{% set _logout_uri        = url('sonata_user_admin_security_logout') %}
			{% set _logout_text       = 'user_block_logout'|trans({}, 'SonataUserBundle') %}
			{#{% set _profile_uri       = sonata_user.userAdmin.isGranted('EDIT', app.user) ? sonata_user.userAdmin.generateUrl('edit', {id: sonata_user.userAdmin.id(app.user)}) : sonata_user.userAdmin.generateUrl('show', {id: sonata_user.userAdmin.id(app.user)}) %}#}
			{% set _profile_text      = 'user_block_profile'|trans({}, 'SonataUserBundle') %}
			{#{% set _user_image        = asset(sonata_user.defaultAvatar) %}#}
			{# Customize this with your profile picture implementation, see below for example #}
			{#{% set _user_image  = app.user.profilePicture|default(asset(sonata_user.defaultAvatar)) %}#}

			{% set _profile_uri = "#" %}
			{% set _user_image = "https://pbs.twimg.com/profile_images/378800000216911108/c352fdede75714cef4c362e7a99d7502_bigger.png" %}

			{#{% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}#}
			{#{% set _bg_class    = "bg-blue-active" %}#}
			{#{% set _logout_uri  = url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) %}#}
			{#{% set _logout_text = '(exit)' %}#}
			{#{% endif %}#}

			{#<div class="user-header {{ _bg_class }}">#}
			{#&#123;&#35;{% if _user_image %}&#35;&#125;#}
			{#&#123;&#35;<img src="{{ _user_image }}" class="img-circle" alt="Avatar" />&#35;&#125;#}
			{#&#123;&#35;{% endif %}&#35;&#125;#}
			{#<p>{{ app.user }}</p>#}
			{#</div>#}

			{#
				Uncomment to add some information
					<li class="user-body">

					</li>
			#}

			<div class="user-footer">
				<div class="pull-left" style="padding-right:5px">
					<a href="{{ _profile_uri }}" class="btn btn-default btn-flat"><i class="fa fa-user"></i> {{ app.user }}</a>
				</div>

				<div class="pull-right">
					<a href="{{ _logout_uri }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> {{ _logout_text }}</a>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}