{% extends "@CreaComProject/layout.html.twig" %}
{% block pageTitle %}{{ type|capitalize }}{% endblock %}
{% block extrasStyle %}
	{% stylesheets
	'bundles/creacomproject/css/pageDoublage.css' filter='cssrewrite' %}
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html" />
	{% endstylesheets %}
{% endblock %}
{% block container %}
	<div class="col-xs-14 bloc-ext">
		<div class="bloc-int">
			<div class="bloc-header"
			     style="background-image:url('{{ asset('bundles/creacomproject/images/'~type~'/background-'~type~'.jpg') }}');background-size: cover">
				<h1 class=" col-lg-offset-9 col-lg-5">{{ type|upper }}&nbsp;&nbsp;&nbsp;&nbsp;</h1>
				{#<div class="col-lg-2"><img src="{{ asset('bundles/creacomproject/images/minilogo.png') }}" alt="logo">#}
				{#</div>#}
			</div>
			<div class="bloc-introduction">
				<p class="text-justify">
					{% if type == "ateliers" %}

						<i>« Le machinima est un genre cinématographique et une technique de production de film qui utilise des
						séquences vidéo capturées à l’intérieur d’espaces virtuels en temps réel, le plus souvent dans un moteur
						graphique de jeu vidéo, mais pas exclusivement »</i> - DES CUBES ET DES PIOCHES 2 (2015, Tarbes) Conférence
						sur le Machinima.<i> Un concept, une Histoire.</i>
						<br /><br />
						Le Machinima, en tant que genre cinématographique, est depuis ses origines un vivier du détournement et de
						l’expression artistique ouvert à tous. Notre association milite pour la démocratisation du machinima et cherche
						à rendre le genre accessible au plus grand nombre. Dans cette optique, nous proposons différents types d’ateliers,
						allant de la présentation du genre à la conception d’un machinima de A à Z. Notre volonté est de concevoir avec
						vous des ateliers pédagogiques pertinents, adaptés aux différents types de public.
						<br /><br />
						Si vous souhaitez organiser un atelier, contactez-nous via le formulaire ci-dessous. Ce dernier nous permettra
						de prendre contact afin d’établir un devis. Les établissements scolaires souhaitant organiser un ou plusieurs
						ateliers peuvent bénéficier jusqu’à 100% de réduction (défraiement non inclus).

					{% elseif type =="traduction" %}

						Vous désirez faire traduire et sous-titrer vos projets afin de les rendre accessibles au public anglophone ?
						Vous pouvez faire appel à notre équipe composée de traducteurs amateurs et passionnés.
						<br /><br />
						Qu’il s’agisse d’un machinima, d’un court métrage en prise de vue réelle, d’une web-série, d’un jeu vidéo, d’une
						saga MP3, d’un film d’animation … n’hésitez pas à nous contacter pour nous présenter votre projet !
						<br /><br />
						Si ce dernier nous parait intéressant et que notre équipe est disponible, ce sera un plaisir pour nous de prendre part à l’aventure.

					{% else %}

						Vous avez un projet qui nécessite une ou plusieurs voix ? Creative Community possède un secteur voix composé
						de nombreux comédiens amateurs et passionnés aux profils divers et variés.
						<br /><br />
						Qu’il s’agisse d’un machinima, d’un court métrage en prise de vue réelle, d’une web-série, d’un jeu vidéo, d’une
						saga MP3, d’un film d’animation … n’hésitez pas à nous contacter pour nous présenter votre projet !
						<br /><br />
						Si ce dernier nous parait intéressant et qu’il est réalisable par notre équipe, ce sera un plaisir pour nous de prendre part à l’aventure.

					{% endif %}
				</p>
			</div>

			<div class="titre text-center">
				<h2>NOUS CONTACTER</h2>
			</div>
			{% for message in app.session.flashbag.get('statut') %}
				{{ message }}
			{% endfor %}

			<div class="row">
				{{ form_start(form) }}
				<div class="bloc-formulaire">
					<div class="col-xs-2"></div>
					<div class="bloc-formulaire-texte col-xs-10">
						<div class="row">
							<div class="formulaire-label row">
								{{ form_label(form.nom) }}
							</div>
							<div class="formulaire-input row">
								{{ form_widget(form.nom, { 'attr': { 'size':"78"} }) }}
							</div>
						</div>

						<div class="row">
							<div class="formulaire-label row">
								{{ form_label(form.email) }}
							</div>
							<div class="formulaire-input col-xs-14 text-left">
								{{ form_widget(form.email, { 'attr': { 'size':"78"} }) }}
							</div>
						</div>
						{% if form.organisme is defined %}
							<div class="row">
								<div class="formulaire-label row">
									{{ form_label(form.organisme) }}
								</div>
								<div class="formulaire-input row">
									{{ form_widget(form.organisme) }}
								</div>
							</div>
						{% endif %}
						<div class="row">
							<div class="formulaire-label row">
								{{ form_label(form.message) }}
							</div>
							<div class="formulaire-input row">
								{{ form_widget(form.message) }}
							</div>
						</div>
						{% if form.nbVoix is defined %}
							<div class="row">
								<div class="formulaire-label row">
									{{ form_label(form.nbVoix) }}
								</div>
								<div class="formulaire-input row">
									{{ form_widget(form.nbVoix) }}
								</div>
							</div>
						{% endif %}
						{% if form.lieu is defined %}
							<div class="row">
								<div class="formulaire-label row">
									{{ form_label(form.lieu) }}
								</div>
								<div class="formulaire-input row">
									{{ form_widget(form.lieu) }}
								</div>
							</div>
						{% endif %}
						{% if form.dates is defined %}
							<div class="row">
								<div class="formulaire-label row">
									{{ form_label(form.dates) }}
								</div>
								<div class="formulaire-input row">
									{{ form_widget(form.dates) }}
								</div>
							</div>
						{% endif %}
						{% if form.atelier_type is defined %}
							<div class="row" style="margin-bottom: 20px;margin-top: 20px;">
								<div class="formulaire-label row">
									{{ form_label(form.atelier_type) }}
								</div>
								<div class="formulaire-input row">
									{{ form_widget(form.atelier_type) }}
								</div>
							</div>
						{% endif %}
						<div class="row">
							<div class="formulaire-label row">
								{{ form_label(form.more) }}
							</div>
							<div class="formulaire-input row">
								{{ form_widget(form.more) }}
							</div>
						</div>
						<div class="row">
							<div class="formulaire-input col-xs-12">
								{{ form_errors(form.recaptcha) }}
								{{ form_widget(form.recaptcha) }}
							</div>
						</div>
						<div class="row">
							<div class="formulaire-label row">
							</div>
							<div class="formulaire-submit row">
								{{ form_row(form.valider) }}
							</div>
						</div>
					</div>
					<div class="col-xs-2"></div>
				</div>
				{{ form_end(form) }}

				{% if lesContributions is not null and lesContributions|length > 0 %}
					<div class="titre text-center col-xs-14">
						<h1>NOS CONTRIBUTIONS</h1>
					</div>

					{% set i = 0 %}
					{% for contrib in lesContributions %}
						{% if loop.first or i > 1 %}
							{% set i = 0 %}
							<div class="row">
						{% endif %}
						<div class="col-md-7">
							<div class="bloc-contribution-gauche text-center">
								<img src="{{ asset('bundles/creacomproject/images/contrib/'~contrib.image~'.jpg') }}"
								     alt="Contribution_{{ contrib.nom }}" />
								{% if contrib.anneeFin == null or contrib.anneeDebut == contrib.anneeFin %}
									<p>
										{{ contrib.nom|capitalize }} - {{ contrib.anneeDebut() }}
									</p>
								{% else %}
									<p>
										Creative Community - {{ contrib.anneeDebut() }} / {{ contrib.anneeFin() }}
									</p>
								{% endif %}
							</div>
						</div>
						{% set i = i+1 %}
						{% if loop.first or i > 1 %}
							{% set i = 0 %}
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block extraScript %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('select').select2();
		});
	</script>
{% endblock %}
