{% extends "@CreaComProject/layout.html.twig" %}
{% block pageTitle %}Contact{% endblock %}
{% block extrasStyle %}
	{% stylesheets
	'bundles/creacomproject/css/pageContact.css' filter='cssrewrite' %}
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html" />
	{% endstylesheets %}
{% endblock %}
{% block container %}
	<div class="container">
		<div class="col-xs-14 bloc-ext">
			<div class="bloc-int">
				<div class="bloc-header"
				     style="background-image:url('{{ asset('bundles/creacomproject/images/contact/background-contact.jpg') }}');background-size: cover">
					{#<div class="col-xs-2 text-center"><img#}
					{#src="{{ asset('bundles/creacomproject/images/minilogo.png') }}" alt="logo"></div>#}
					<h1 class="col-xs-4">&nbsp;&nbsp;&nbsp;&nbsp;CONTACT</h1>
					<div class="col-xs-8"></div>
				</div>
				<div class="bloc-introduction">
					<p>
						ATTENTION: Pour les recrutements, merci de vous rendre sur la page dédiée en cliquant <a
								href="{{ path('creacom_sitecreacom_recrutement') }}">ici</a>.
					</p>
				</div>

				<div class="titre text-center col-xs-14">
					<h2>FORMULAIRE</h2>
				</div>
				{% for message in app.session.flashbag.get('statut') %}
					{{ message }}
				{% endfor %}

				{{ form_start(form) }}
				<div class="bloc-formulaire">
					<div class="col-xs-2"></div>
					<div class="bloc-formulaire-texte col-xs-10">
						<div class="row">
							<div class="formulaire-label row">
								{{ form_label(form.nom) }}
							</div>
							<div class="formulaire-input row">
								{{ form_widget(form.nom, { 'attr': {'size':"78"} }) }}
							</div>
						</div>
						<div class="row">
							<div class="formulaire-label row">
								{{ form_label(form.email) }}
							</div>
							<div class="formulaire-input row">
								{{ form_widget(form.email, { 'attr': { 'size':"78"} }) }}
							</div>
						</div>
						<div class="row">
							<div class="formulaire-label row">
								{{ form_label(form.message) }}
							</div>
							<div class="formulaire-input row">
								{{ form_widget(form.message) }}
							</div>
						</div>
						<div class="row">
							<div class="row">
								{{ form_errors(form.recaptcha) }}
							</div>
							<div class="formulaire-input row">
								{{ form_widget(form.recaptcha) }}
							</div>
						</div>
						<div class="row">

							<div class="formulaire-label row">
							</div>
							<div class="formulaire-submit row">
								{{ form_row(form.valider) }}
							</div>
						</div>
					</div>
					<div class="col-xs-2"></div>
				</div>
				{{ form_end(form) }}

				<div class="row">
					{% set i = 0 %}
					{% for contact in contacts %}
						{% if i == 0 %}
							<div class="bloc-res-soc col-xs-14" style="margin-top: 20px">

						{% endif %}
						<div class="col-xs-3 text-center">
							<a href="{{ contact.lien }}" target="_blank"><img
										src="{{ asset('bundles/creacomproject/images/contact/rs/'~contact.image) }}"
										alt="{{ contact.nom|capitalize }}" /></a></br>
							<a href="{{ contact.lien }}" target="_blank">{{ contact.adresse }}</a>
						</div>
						{% if i == 3 %}
							</div>
							{% set i = 0 %}
						{% else %}
							{% set i = i+1 %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}