<h2>Nouvelle demande de {{ request.type }}</h2>

{% if customer is defined and customer %}
	<p>Voici un récapitulatif de votre demande :</p>
{% endif %}

<p>Contact {{ request.nom }} - {{ request.email }}</p>
<p>Message : {{ request.message }}</p>
<em>Le {{ request.date|date('Y/m/d à H:i') }}</em>

{% if customer is defined and customer %}
	<p>Vous receverez une réponse dans les jours à venir.</p>
{% endif %}