{% extends "@CreaComProject/layout.html.twig" %}
{% block pageTitle %}Mentions Légales{% endblock %}
    {% block extrasStyle %}
	    {% stylesheets
	    'bundles/creacomproject/css/pageMentionsLegales.css' filter='cssrewrite' %}
	    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html" />
	    {% endstylesheets %}
    {% endblock %}
{% block container %}
	<div class="col-xs-14 bloc-ext">
		<div class="bloc-int">
			<div class="bloc-mentionslegales">

				<h1>MENTIONS LÉGALES</h1>

				<h2>DROITS ET REPRODUCTION</h2>
				<p>
					-Creative Community est sous copyright ainsi que ses productions, et que le nom «CreaCom».<br />
					-Le logo ne peut être utilisé que dans les formats téléchargeables ci-dessous.
				</p>
				<div class="bloc-cadrelogos col-xs-14" align="center">
					<div>
						<img src="{{ asset('bundles/creacomproject/images/mentions/CreaComBlanc.png') }}" alt="Logo Clair">
					</div>
					<div>
						<img src="{{ asset('bundles/creacomproject/images/mentions/CreaComNoir.png') }}" alt="Logo Foncé">
					</div>
					<div>
						<img src="{{ asset('bundles/creacomproject/images/minilogo.png') }}" alt="Logo Simple">
					</div>
				</div>

				<h2>SIÈGE DE L'ASSOCIATION</h2>
				<p>
					CreaCom<br />
					2 Bis, rue Paul Drussant<br />
					78310 Maurepas<br>
					France
				</p>

				<h2>HÉBERGEMENT</h2>
				<div class="hebergement">
					<a href="http://omgserv.com" target="_blank" rel="nofollow"><img src="{{ asset('bundles/creacomproject/images/partenaires/omgserv.png') }}" alt="Hébergeur" /></a>
				</div>

				<h2>RESPONSABLE DE PUBLICATION</h2>
				<p>► Monsieur Benjamin Maublanc<br />
					► Monsieur Nicolas Hochart
				</p>

				<h2>DOCUMENTS COMPLÉMENTAIRES</h2>
				<p>► <a href="{{ asset('bundles/creacomproject/organigramme.pdf') }}" target="_blank">Organigramme</a>
					- Mis à jour le 09 février 2016<br />
					► <a href="{{ asset('bundles/creacomproject/statuts-2016.pdf') }}" target="_blank">Statuts</a> -
					Mis à jour le 16 janvier 2016<br />
					► <a href="{{ asset('bundles/creacomproject/annexe-2016.pdf') }}" target="_blank">Annexe</a> - Mis
					à jour le 16 janvier 2016
				</p>

				</br>

				<p style="font-size:12px;">Remerciements à Aymell57 pour le dessin de la page d'erreur.</p>

			</div>
		</div>
	</div>
{% endblock %}