{% extends "@CreaComProject/layout.html.twig" %}
{% block pageTitle %}Partenaires{% endblock %}
{% block extrasStyle %}
	{% stylesheets
	'bundles/creacomproject/css/pagePartenaires.css' filter='cssrewrite' %}
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html" />
	{% endstylesheets %}
{% endblock %}
{% block container %}
	<div class="col-xs-14 bloc-ext">
		<div class="bloc-int">
			{% if lesPartenaires is defined and lesPartenaires is not null and lesPartenaires|length > 0 %}
			{% set i = 0 %}
			{% for partenaire in lesPartenaires %}
			{% if i == 2 %}
		</div>
		{% set i = 0 %}
		{% endif %}
		{% if loop.first or i == 0 %}
		<div class="row">
			{% endif %}
			<div class="col-md-7">
				<div class="bloc-partenaire-{% if i == 0 %}droit{% else %}gauche{% endif %}">
					<div class="bloc-partenaire-logo text-center">
						<img src="{{ asset('bundles/creacomproject/images/partenaires/'~partenaire.logo~'.png') }}" />
					</div>
					<div class="bloc-partenaire-texte">
						<p class="text-justify">
							{{ partenaire.description|raw }}
						</p>
					</div>
				</div>
			</div>
			{% set i = i+1 %}
			{% endfor %}
			{% else %}
				<div class="row">
					<div class="col-md-7">
						<div class="bloc-partenaire-droit">
							<div class="bloc-partenaire-logo text-center">
								<img src="{{ asset('bundles/creacomproject/images/partenaires/omgserv.png') }}" />
							</div>
							<div class="bloc-partenaire-texte">
								<p class="text-justify">
									Leader Européen de la Location de Serveur Minecraft et Mumble. Location de Serveur Minecraft 4 Slots GRATUIT à Vie ou Slots et RAM ILLIMITÉ à partir de 4,17€/mois, Mumble 12 Slots GRATUIT à vie ou Slots Illimités à partir de 1,00€/mois mais également TeamSpeak, StarMade et CubeWorld !
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="bloc-partenaire-gauche">
							<div class="bloc-partenaire-logo text-center">
								<img src="{{ asset('bundles/creacomproject/images/partenaires/lc.png') }}" />
							</div>
							<div class="bloc-partenaire-texte">
								<p class="text-justify">
									Créé en 2011, LanguageCraft a beaucoup évolué. D'une simple chaîne, à une équipe, et maintenant une communauté et association, LanguageCraft réunit des constructeurs, codeurs, redstoneurs, rolistes, graphistes, tous unis dans le but de faire les plus belles vidéos possible.
								</p>
							</div>
						</div>
					</div>
				</div>

			{% endif %}
		</div>
	</div>
{% endblock %}