{% extends "@CreaComProject/layout.html.twig" %}
{% block pageTitle %}Présentation{% endblock %}
{% block extrasStyle %}
	{% stylesheets
	'bundles/creacomproject/css/pagePresentation.css' filter='cssrewrite' %}
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html" />
	{% endstylesheets %}
{% endblock %}
{% block container %}
	<div class="container">
		<div class="col-xs-14 bloc-ext">
			<div class="bloc-int">
				<div class="bloc-header"
				     style="background-image:url('{{ asset('bundles/creacomproject/images/presentation/background-presentation.jpg') }}');background-size: cover;background-position: 25% 28%;">
					{#<div class="col-lg-2"><img src="{{ asset('bundles/creacomproject/images/minilogo.png') }}"#}
					{#alt="logo"/></div>#}
					<h1 class="col-lg-12">PRÉSENTATION</h1>
				</div>
				<div class="bloc-presentation-generale">
					<p class="text-justify">
						Creative Community est un studio de développement de projets artistiques et créatifs spécialisé
						dans le contenu audiovisuel sur internet fondé début 2013 par Benjamin Maublanc et Lucien
						Gillonnier.<br />
						Suite à la création de StarCube : Galaxy et à la sortie du premier épisode le 9 février 2013, le
						studio Creative Community est fondé pour supporter le développement de cette série, mais aussi
						à terme d’autres productions.<br /><br />

						Le 11 avril 2013 le studio prend la forme d’une association, jouissant alors d’une existence
						morale, lui permettant de fonctionner de façon structurée toujours dans l’objectif de développer
						des productions innovantes.<br />
						Le studio Creative Community a toujours cherché à repousser les limites pour proposer aux
						spectateurs un contenu intéressant, pour les faire voyager dans d’autres mondes, leur faire
						découvrir de grands univers tous plus grandioses et profonds les uns que les autres.<br /><br />

						Au fil de son évolution le studio a su rassembler de nombreux talents. Originellement composée
						d’une quinzaine de personnes, l’association compte en novembre 2013, après huit mois
						d’existence, plus de trente membres aux compétences et qualifications diverses.<br />
						Aujourd’hui notre association progresse rapidement et est soutenue par de nombreux acteurs de la
						communauté. Nous continuons de travailler pour produire un divertissement intéressant et
						régulier accessible par tous et ce gratuitement.
					</p>
				</div>
				<div class="bloc-presentation-membres text-center">
					{% if leStaff is defined and leStaff is not null and leStaff|length > 0 %}
						<h3>Membres <span style="font-size: 16px;">({{ leStaff|length }})</span></h3>
						{% for membre in leStaff %}
							<div class="user text-center">
								{% if membre.image is not null %}
									<img id="image{{ membre.id }}" style="width: 128px;height:128px;"
									     src="{{ asset('bundles/creacomproject/images/membres/'~membre.image.name) }}" />
								{% else %}
									<img id="image{{ membre.id }}" style="width: 128px;height:128px;"
									     src="{{ asset('bundles/creacomproject/images/membres/none.png') }}" />
								{% endif %}
								<p id="texte{{ membre.id }}"
								   class="nom text-center">{% if membre.nom is not null and membre.prenom is not null %}{{ membre.prenom }} {{ membre.nom }}{% else %}{{ membre.pseudo }}{% endif %}</p>
								<h2 class="role text-center">{% for poste in membre.postes %}{{ poste.nom }}{% if loop.last == false %} - {% endif %}{% endfor %}</h2>
							</div>
						{% endfor %}
					{% else %}
						<h3> Aucun membre pour le moment</h3>
					{% endif %}
					{% if lesRemerciements is defined and lesRemerciements is not null and lesRemerciements|length > 0 %}
						<h3 class="margin-bottom-20">Remerciements <span style="font-size: 16px;">({{ lesRemerciements|length }})</span></h3>
						<div class="row">
							{% set i = 0 %}
							{% for remerciement in lesRemerciements %}
								{% if i== 0 %}
									<div class="row">
								{% endif %}
								<div class="col-sm-7" style="text-align: center">
									<p style="margin-bottom: 0;    font-size: 14px;font-family: 'Dosis', sans-serif;">{% if remerciement.nom is not null and remerciement.prenom is not null %}{{ remerciement.prenom }} {{ remerciement.nom }}{% else %}{{ remerciement.pseudo }}{% endif %}&ensp;{% if remerciement.postes is not null %} ({% endif %}{% for poste in remerciement.postes %}{{ poste.nom }}{% if loop.last == false %}, {% endif %}{% endfor %}{% if remerciement.postes is not null %}){% endif %}</p>
								</div>
								{% set i = i+1 %}
								{% if i == 2 or loop.last %}
									</div>
									{% set i = 0 %}
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}