{% extends "@CreaComProject/layout.html.twig" %}
{% block pageTitle %}Projets{% endblock %}
{% block extrasStyle %}
	{% stylesheets
	'bundles/creacomproject/css/pageListProjets.css'
	'bundles/creacomproject/css/pageIndex.css'
	'bundles/creacomproject/css/pageProjets.css'
	filter='cssrewrite' %}
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html" />
	{% endstylesheets %}
{% endblock %}
{% block container %}
	{% for projet in projects %}
		<div class="col-xs-14 bloc-ext">
			<div class="bloc-presentation-postes">
				<div class="poste-image col-sm-7"
				     style="background: url(data:image/jpeg;base64,{{ banners[projet.id] }}) no-repeat; background-size: cover; background-position: right bottom;">
				</div>
				<div class="poste-resume col-sm-6">
					<h2 class="text-center">
						{{ projet.name|upper }}
					</h2>
					<p class="description-projet">
						{{ projet.description|raw }}
					</p>
					{% if projet.video is not null and projet.serie == false and projet.extLien is not null %}
						<div class="col-md-14"><a style="padding-left: 6px;text-align: center;" target="_blank"
						                          href="{{ projet.extLien }}"
						                          class="big-more-button">EN SAVOIR PLUS</a></div>
					{% elseif projet.video is not null %}
						<div class="col-md-14"><a style="padding-left: 6px;text-align: center;margin-top: 20px;"
						                          href="{{ path('creacom_sitecreacom_projet', {slug: projet.slug}) }}"
						                          class="big-more-button">EN SAVOIR PLUS</a></div>
					{% else %}
						<div class="col-md-14 soon"><a style="padding-left: 6px;text-align: center;margin-top: 20px;"
						                          href="#"
						                          class="big-more-button">PROCHAINEMENT</a></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}