{% extends "@CreaComProject/layout.html.twig" %}
{% block pageTitle %}Projet{% endblock %}
{% block extrasStyle %}
	{% stylesheets
	'bundles/creacomproject/css/pageProjet.css' filter='cssrewrite' %}
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html" />
	{% endstylesheets %}
{% endblock %}
{% block styleBody %}style="background: url('{{ asset('bundles/creacomproject/images/projets/'~ project.slug ~'/fond.jpg') }}') fixed no-repeat;background-size:cover;"{% endblock %}
{% block container %}
	<div class="col-xs-14 bloc-ext">
		<div class="bloc-int col-xs-14">
			<div class="bloc-header"
			     style="background-image:url('{{ asset('bundles/creacomproject/images/projets/'~project.slug~'/background.jpg') }}');"></div>
			<div class="bloc-principal col-sm-10">
				<div class="bloc-video col-sm-14">
					<iframe src="https://www.youtube.com/embed/{{ project.video }}" frameborder="0"
					        allowfullscreen></iframe>
				</div>
				<div class="bloc-actu col-sm-14">
					<!-- Nav tabs -->
					<nav id="tabs" class="onglets col-sm-14">

						{% set tabindex = 1 %}

						{% if project.actualites|length > 0 %}
							<div class="tab" tabindex="0"><a href="#actu" data-title="Actualités" aria-controls="actu" role="tab" data-toggle="tab">
								Actualités
							</a></div>
						{% endif %}
						{% for saison in project.saisons %}
							{% if loop.first and project.actualites|length < 1 %}
								<div class="tab" tabindex="{{ tabindex }}"><a href="#saison{{ saison.id }}" data-title="{{ saison.name|capitalize }}"
								   aria-controls="saison{{ saison.id }}" role="tab" data-toggle="tab">
									{{ saison.name|capitalize }}
								</a></div>
							{% else %}
								{% set tabindex = tabindex + 1 %}
								<div class="tab" tabindex="{{ tabindex }}"><a href="#saison{{ saison.id }}" aria-controls="saison{{ saison.id }}" role="tab"
								   data-toggle="tab" data-title="{{ saison.name|capitalize }}">
									{{ saison.name|capitalize }}
								</a></div>
							{% endif %}
						{% endfor %}

					</nav>
					<!-- Tab panes -->
					<div class="tab-content">
						{% if project.actualites|length > 0 %}
							<div role="tabpanel" class="tab-pane active" id="actu">
								{% for actualite in project.actualites %}
									<div class="actualité col-sm-14">
										<div id="image{{ actualite.id }}" class="image col-sm-5"><img src="{{ asset('bundles/creacomproject/images/projets/'~project.slug~'/'~actualite.image) }}" /></div>
										<div id="contenu{{ actualite.id }}" class="col-sm-9">
											<div class="contenu col-sm-14">
												<h2>{{ actualite.titre }}</h2>
											</div>
											<div class="contenu col-sm-14">
												<p class="comment more">{{ actualite.description|raw }}</p>
											</div>
										</div>
									</div>
									{#<div class="nav-articles text-center col-sm-14"><b>1</b> | 2 >></div>#}
								{% endfor %}
							</div>
						{% endif %}
						{% for saison in project.saisons %}
							<div role="tabpanel" class="tab-pane {% if loop.first and project.actualites|length < 1 %}active{% endif %}" id="saison{{ saison.id }}">
								{% if saison.episodes is not null  and saison.episodes|length > 0 %}
									{% for episode in saison.episodes %}
										<a style="color: black"
										   href="https://www.youtube.com/watch?v={{ episode.youtube }}" target="_blank">
											<div class="actualité col-sm-14">
												<div id="imageS{{ saison.id }}" class="image col-sm-5"><img src="{{ asset('bundles/creacomproject/images/projets/'~project.slug~'/'~episode.miniature) }}" /></div>
												<div id="contenuS{{ saison.id }}E{{ episode.id }}" class="col-sm-9">
													<div class="contenu col-sm-14">
														<h2>{{ episode.name }}</h2>
													</div>
													<div class="contenu col-sm-14">
														<p class="comment more">{{ episode.description|raw }}</p>
													</div>
												</div>
											</div>
										</a>
										{#<div class="nav-articles text-center col-sm-14"><b>1</b> | 2 >></div>#}
									{% endfor %}
								{% else %}
									<h3>Pas d'épisode pour cette saison</h3>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-sm-4 bloc-vide"></div>
			<div class="bloc-info col-sm-4">
				<div class="presentation">
					<h2>PRESENTATION</h2>
					<p class="text-justify">
						{{ project.description|raw }}
					</p>
				</div>
				{% if project.responsables is not null %}
					<div class="createurs">
						<h2>LES CREATEURS</h2>
						{% for createur in project.responsables %}
							<div class="membre text-center">
								<img height="128" width="128" src="{{ asset('bundles/creacomproject/images/membres/'~createur.image.name) }}"
								     alt="avatar" />
								<p style="color: #000;" id="texte{{ createur.id }}"
								   class="nom text-center">{{ createur.prenom }} {{ createur.nom }}</p>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<div class="col-sm-4 bloc-vide"></div>
		</div>
	</div>
{% endblock %}
{% block extraScript %}
	<script src="{{ asset('bundles/creacomproject/js/Shorten.js') }}"></script>
	<script type="text/javascript">
		var indexSelected = 0;
		function applyShadow() {

			$('#tabs').find('.tab').each(function() {
				if($(this).attr('tabindex') == indexSelected) {
					$(this).css('text-shadow', '1px 1px 20px grey');
					$(this).css('font-weight', 'bold');
				} else {
					$(this).css('text-shadow', 'none');
					$(this).css('font-weight', 'normal');
				}
			});

		}
		$(document).ready(function () {
			$(".comment").shorten();

			applyShadow();

			$('#tabs').find('.tab').find('a').click(function (e) {
				indexSelected = $(this).parent().attr('tabindex');
				applyShadow();
			});
		});
	</script>
{% endblock %}