{% extends "@CreaComProject/layout.html.twig" %}
{% block pageTitle %}Recrutement{% endblock %}
{% block extrasStyle %}
	{% stylesheets
	'bundles/creacomproject/css/pageRecrutement.css' filter='cssrewrite' %}
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html" />
	{% endstylesheets %}
{% endblock %}
{% block container %}
	<div class="col-xs-14 bloc-ext">
		<div class="bloc-int" style="padding-bottom: 10px;">
			<div class="bloc-header"
			     style="background-image:url('{{ asset('bundles/creacomproject/images/recrutement/background-recrutement.jpg') }}');background-size: cover">
				{#<div class="col-lg-2"><img src="{{ asset('bundles/creacomproject/images/minilogo.png') }}" alt="logo"/>#}
				{#</div>#}
				<h1 class="col-lg-12">RECRUTEMENT</h1>
			</div>
			<div class="bloc-presentation-generale">
				<p class="text-justify">
					<b>Creative Community est une grande famille, une communauté de passionnés. Nous cherchons toujours
						de
						nouvelles personnes pour nous rejoindre et participer à cette belle aventure qui a débuté en
						février
						2013.</b><br /><br />

					Après avoir lu ce qui suit, envoyez-nous vos candidatures à : <a
							href="mailto:recrutementcreacom@gmail.com">recrutementcreacom@gmail.com</a><br /><br />

					Vous êtes ici sur la page de recrutement et ce n’est pas un endroit anodin. Notre association ne serait rien
					sans les personnes qui la composent ; c'est pourquoi nous attachons une importance toute particulière au recrutement.
					Plusieurs postes et solutions s’offrent à vous pour nous rejoindre, selon vos compétences, motivations et centres d’intérêt.
					Si vous avez déjà des connaissances solides dans votre domaine et que vous souhaitez postuler, vous trouverez ci-dessous la
					description des postes, le fonctionnement de ces derniers, ainsi que la manière de présenter votre candidature. Si vous pensez
					ne pas avoir toutes les compétences nécessaires pour le poste qui vous intéresse, mais que vous êtes motivés à l’idée de faire
					partie du studio et apporter votre pierre à l'édifice : postulez aussi ! Si vous êtes recruté, vous intégrerez l'association
					et serez épaulé par un ou plusieurs membres afin de vous apporter les connaissances et compétences nécessaires au poste qui
					vous intéresse.<br /><br />

					Les différentes étapes de votre recrutement, quel que soit votre niveau de départ, sont les mêmes. Tout d'abord votre mail
					sera étudié par le Responsable du secteur que vous désirez intégrer. Après validation de ce dernier, et confirmation du Président,
					vous serez conviés à un entretien oral sur notre TeamSpeak (ts.creativecommunity.fr). Cet entretien sera orienté en majorité sur
					vos motivations, vos connaissances, vos expériences, vos passions et centres d’intérêt, en somme une présentation plus détaillée
					pour vous connaître un peu mieux. Vous passerez votre entretien devant 3 personnes : le Responsable de votre secteur
					(construction, voice acting, ou autres ...), un membre du Conseil d'Administration ainsi que le Président. A l'issue de cet
					entretien, ces trois personnes décideront d'ajourner ou de valider votre candidature. Mais rassurez-vous, il ne s’agit pas d’un
					moment à craindre : il faut plutôt voir cet entretien comme une occasion de mettre en avant, de créer un contact et de nous
					faire part de ce qui vous motive.<br /><br />

					Sachez que les recrutements sont ouverts à tous à partir de 16 ans. Prenez le temps de bien compléter votre candidature,
					il serait dommage de nous envoyer un mail incomplet et qui vous desservirait. Nous attendons votre mail et sommes disponible
					sur les réseaux sociaux, ou via Skype, pour répondre à vos éventuelles questions. Bonne chance et à très vite !
				</p>
			</div>
			{% if (lesPostesOpen is not null or lesPosteClose is not null) and (lesPostesOpen|length > 0 or lesPostesClose|length > 0) %}
				{% for poste in lesPostesOpen %}
					<div id="bloc{{ poste.id }}" class="row bloc-presentation-postes">
						<div id="poste-image{{ poste.id }}" class="poste-image col-md-7">
							<h2>{{ poste.nom }}</h2>
							<img src="{{ asset('bundles/creacomproject/images/postes/'~poste.logo) }}" />
						</div>
						<div class="poste-resume col-md-7">
							<p class="text-center">
								{% if poste.statut %}
									<b class="statut color-true">OUVERT</b>
								{% else %}
									<b class="statut color-false">FERMÉ</b>
								{% endif %}
							</p>
							<p>
								{{ poste.resume|raw }}
							</p>
							<div class="text-center button-more">
                                <span style="cursor: pointer" data-poste="{{ poste.id }}" class="toggle"><img
			                                style="width:95px;height:69px"
			                                src="{{ asset('bundles/creacomproject/images/recrutement/button-more.png') }}"
			                                alt="more" /></span>
							</div>
						</div>
						<div style="display: none; color: white;" id="extend{{ poste.id }}" class="row">
							<div class="col-sm-14" style="padding: 20px">
								{{ poste.description|raw }}
								{% if poste.formation %}
									<br /><br /><i>Ce poste est sujet au Processus de Formation Interne. Le programme de
									formation est
									téléchargeable <a
											href="{{ asset('bundles/creacomproject/'~poste.lienFormation) }}">ici</a>.</i>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
				{% for poste in lesPostesClose %}
					<div id="bloc{{ poste.id }}" class="row bloc-presentation-postes">
						<div id="poste-image{{ poste.id }}" class="poste-image col-md-7">
							<h2>{{ poste.nom }}</h2>
							<img src="{{ asset('bundles/creacomproject/images/postes/'~poste.logo) }}" />
						</div>
						<div class="poste-resume col-md-7">
							<p class="text-center">
								{% if poste.statut %}
									<b class="statut color-true">OUVERT</b>
								{% else %}
									<b class="statut color-false">FERMÉ</b>
								{% endif %}
							</p>
							<p>
								{{ poste.resume|raw }}
							</p>
							<div class="text-center button-more">
                                <span style="cursor: pointer" data-poste="{{ poste.id }}" class="toggle"><img
			                                style="width:95px;height:69px"
			                                src="{{ asset('bundles/creacomproject/images/recrutement/button-more.png') }}"
			                                alt="more" /></span>
							</div>
						</div>
						<div style="display: none; color: white;" id="extend{{ poste.id }}" class="row">
							<div class="col-sm-14" style="padding: 20px">
								{{ poste.description|raw }}
								{% if poste.formation %}
									<br /><br /><i>Ce poste est sujet au Processus de Formation Interne. Le programme de
									formation est
									téléchargeable <a href="{{ asset('bundles/creacomproject/'~poste.lienFormation) }}">ici</a>.</i>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="bloc-presentation-generale">
					<h5 class="text-justify semi-bold">Aucun poste disponible pour le moment.</h5>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block extraScript %}
	<script type="text/javascript">
		function showMore(poste_id, zhis) {
			zhis.find('#extend' + poste_id).toggle();
		}
		$(document).ready(function () {
			var zhis = $(this);
			$('.toggle').on('click', function () {
				showMore($(this).data('poste'), zhis);
			})
		});
	</script>
{% endblock %}