{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% if app.user and is_granted('ROLE_MEMBRE') %}
	{% block sonata_admin_content %}
		{% if form is defined %}
			<div class="row voteag2015">
				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
					{% for candidat in candidats %}
						<h4>{% if candidat.membre.firstname is not null %}{{ candidat.membre.firstname }} {% endif %} {% if candidat.membre.lastname is not null %}{{ candidat.membre.lastname }} {% endif %}
							({{ candidat.membre.username }})</h4>

						{% if candidat.profession is not null %}<p><a href="{{ candidat.profession }}" target="_blank">Lire
								sa profession de foi.</a></p>{% endif %}
					{% endfor %}
				</div>
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					{{ form_start(form) }}
					<span class="col-md-3 col-lg-3 col-sm-3 col-xs-3">{{ form_row(form.voix1) }}</span>
                    <span class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    {% if form.voix2 is defined %}
	                    {{ form_row(form.voix2) }}
                    {% endif %}</span>
					<span class="col-md-12 col-lg-12 col-sm-12 col-xs-12">{{ form_row(form.vote) }}</span>
					{{ form_end(form) }}
				</div>
			</div>
		{% else %}
			<h3>Vous ne pouvez pas voter pour le moment, veuillez attendre les indications du Président</h3>
		{% endif %}
	{% endblock %}
{% endif %}