{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% if app.user and is_granted('ROLE_ADMIN') %}
	{% block sonata_admin_content %}
		{% set arrayCheck = [] %}
		{% set finalArray = [] %}
		<div class="box box-primary" style="margin-bottom: 100px">
			<div class="box-body table-responsive no-padding">
				<table class="table table-bordered table-striped sonata-ba-list">
					<thead>
						<tr class="sonata-ba-list-field-header">
							<th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">Poste</th>
							{% for candidat in candidats %}
								{% if candidat.membre not in arrayCheck %}
									<th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">{% if candidat.membre.firstname is not null %}{{ candidat.membre.firstname }} {% endif %} {% if candidat.membre.lastname is not null %}{{ candidat.membre.lastname }} {% endif %}
										({{ candidat.membre.username }})
									</th>
									{% set arrayCheck = arrayCheck|merge([candidat.membre]) %}
									{% set finalArray = finalArray|merge([candidat]) %}
								{% endif %}
							{% endfor %}
							<th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">Votes non
								blanc
								effectués
							</th>
							<th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">Nombre de
								voix restantes
							</th>
							<th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">Actions
							</th>
						</tr>
					</thead>
					<tbody>
						{% for poste in postes %}
							{% set soldeTotal = 0 %}
							<tr>
								<td>{{ poste.nom }}</td>
								{% for candidat in finalArray %}
									<td objectid="1" class="sonata-ba-list-field sonata-ba-list-field-text">
										{% if candidat.poste == poste %}
											{{ candidat.solde }}
											{% set soldeTotal = soldeTotal + candidat.solde %}
										{% else %}
											{% for candidature in candidats %}
												{% if candidature.poste == poste and candidature.membre == candidat.membre %}
													{{ candidature.solde }}
													{% set soldeTotal = soldeTotal + candidature.solde %}
												{% endif %}
											{% endfor %}
										{% endif %}
									</td>
								{% endfor %}

								<td class="sonata-ba-list-field sonata-ba-list-field-text">
									{{ soldeTotal }}
								</td>
								<td class="sonata-ba-list-field sonata-ba-list-field-text">
									{{ maxVote[poste.id] }}
								</td>
								<td class="sonata-ba-list-field sonata-ba-list-field-text">
									{% if votesOpen[poste.id] %}
										<a class="btn btn-danger"
										   href="{{ path('crea_com_ag_close_vote', { annee : "now"|date("Y"), poste : poste.id }) }}"
										   type="button">Fin vote</a>
									{% elseif votesOpen[poste.id] == false %}
										<a class="btn btn-info"
										   href="{{ path('crea_com_ag_start_vote', { annee : "now"|date("Y"), poste : poste.id }) }}"
										   type="button">Start vote</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endblock %}
{% endif %}