<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Creative Community - {% block pageTitle %}{% endblock %}</title>
		<link rel="shortcut icon" type="image/png" href="{{ asset('bundles/creacomproject/images/minilogo.png') }}" />
		<!-- Bootstrap -->
		{% stylesheets
		'bundles/creacomproject/css/bootstrap.min.css'
		'bundles/creacomproject/css/style.css' filter='cssrewrite' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
		<link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		{% block extrasStyle %}
		{% endblock %}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body {% block styleBody %}{% endblock %}>
		<header>
			<nav class="navbar navbar-static-top navbar-inverse">

				<div class="container">

					<div class="navbar-header">

						<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="group-icon-bar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</span>
							<span class="text-icon-menu">Menu</span>
						</button>

						<div class="logo-header"><a href="{{ path('creacom_sitecreacom_index') }}"></a></div>

					</div>

						<div class="collapse navbar-collapse navHeaderCollapse">

							<ul class="navbar navbar-nav">
								<li class="accueil"><a href="{{ path('creacom_sitecreacom_index') }}">ACCUEIL</a></li>
								<li class="left projets"><a href="{{ path('creacom_sitecreacom_projets') }}">PROJETS</a></li>
								<li class="left presentation"><a href="{{ path('creacom_sitecreacom_presentation') }}">PRÉSENTATION</a></li>
								<li class="right recrutement"><a href="{{ path('creacom_sitecreacom_recrutement') }}">RECRUTEMENT</a></li>
								<li class="right contact"><a href="{{ path('creacom_sitecreacom_contact') }}">CONTACT</a></li>
							</ul>

						</div>

				</div>
			</nav>
		</header>
		<div class="container linkReplace">
			{% block container %}
			{% endblock %}
		</div>
		<footer>
			<div class="container copyright">
				<div class="col-xs-7">© 2016 Creative Community. Tous droits réservés.</div>
				<div class="col-xs-7 text-right"><a href="{{ path('creacom_sitecreacom_mentionslegales') }}">Mentions
						légales</a></div>
			</div>
		</footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{ asset('bundles/creacomproject/js/bootstrap.min.js') }}"></script>
		{% block extraScript %}
		{% endblock %}
	</body>
</html>