@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);

/* html5reset.css - 01/11/2011 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
    margin-left: -5px !important;
    margin-top: 5px !important;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

footer {
    background-image: linear-gradient(#d9d9d9, #eeeeee);
    height: 46px;
}

footer .contain {
    height: 100%;
}

footer .contain img {
    height: 46px;
    width: 46px;
    display: inline-block;
    margin-top: -10px;
}

footer .contain .col p {
    font-family: 'Source Sans Pro';
    font-size: 11px;
    color: #828282;
    text-align: right;
    margin: -6px 0px 0px 0px;
    line-height: 12px;
    font-weight: 400;
    display: inline-block;
}

footer ul {
    border-top: 6px;
}

footer ul li {
    display: inline;
    text-transform: uppercase;
    margin-top: 6px;
    padding: 0 5px;
}

footer ul li a {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    color: #000000;
}

footer ul li a:hover {
    color: #6fbbe1;
}

footer .contain .col p .copyright {
    font-size: 12px;
    color: #828282;
    text-align: right;
    font-weight: bold;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

.categories {
    display: block;
    float: left;
    width: 23.8%;
    margin: 1% 0 1% 0;
}

.content {
    display: block;
    float: right;
    width: 74.6%;
    margin: 1% 0 1% 1.6%;
}

.sidebar {
    display: block;
    float: left;
    clear: left;
    width: 23.8%;
    margin: 1% 0 1% 0;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .categories, .content, .sidebar {
        margin: 1% 0 1% 0;
        width: 100%;
    }
}

/* Global */
body {

    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
}

header {
    background: url('../img/fond_header.png');
    height: 119px;
}

nav ul li {
    display: inline;
    text-transform: uppercase;
    padding: 0 5px;
}

nav ul li a {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    color: #000000;
}

nav ul li a:hover {
    color: #6fbbe1;
}

p {
    margin: 5px 0;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: #6fbbe1;
}

.contain {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.socials {
    text-align: center;
}

.socials img {
    margin-right: 5px;
    margin-left: 10px;
    vertical-align: sub;
}

.loginAlign {
    margin-top: -10px !important;
    margin-bottom: 15px;
}

.login {
    color: #afafaf
}

.login span {
    font-weight: bold;
}

.search {
    margin-top: 3px !important;
    text-align: right;
}

.search a {
    background-color: #cccccc;
    padding: 8px 160px 12px 0;
    color: #818181;
}

.search img {
    vertical-align: middle;
}

.text-right {
    text-align: right;
}