{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% set first = first|default(false) %}

{% set url_parameters = {'id': id } %}
{% if parent is not null %}
	{% set url_parameters = url_parameters|merge({'parentId': parent.id}) %}
{% endif %}

{% block fos_comment_comment_form_holder %}
	<div class="comment_comment_form_holder">
		{% block fos_comment_comment_new_form %}
			<form class="comment_comment_new_form" action="{{ url('fos_comment_post_thread_comments', url_parameters) }}" data-parent="{{ parent.id|default() }}" method="POST">
				{% block fos_comment_form_title %}
					{% if first %}
						<h3 class="comment_form_title">{% trans from 'FOSCommentBundle' %}fos_comment_comment_new_headline_first{% endtrans %}</h3>
					{% elseif parent is not null %}
						<h3 class="comment_form_title">{% trans with {"%name%": parent.authorName } from 'FOSCommentBundle' %}fos_comment_comment_reply_reply_to{% endtrans %}</h3>
					{% else %}
						<h3 class="comment_form_title">{% trans from 'FOSCommentBundle' %}fos_comment_comment_new_headline{% endtrans %}</h3>
					{% endif %}
					{% if parent is not null %}
						<button id="cancel" type="button" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_reply_cancel{% endtrans %}" class="comment_comment_reply_cancel">{% trans from 'FOSCommentBundle' %}fos_comment_comment_reply_cancel{% endtrans %}</button>
					{% endif %}
				{% endblock %}

				<div class="comment_form_body">
					<p class="comment-notes">Votre adresse email ne sera pas publiée. Les champs obligatoires sont marqués *</p>
					{% block fos_comment_form_fields %}
						<div class="row">
							<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comment_form_author">
								{{ form_label(form.authorName, 'form_label_author_name'|trans({}, 'SonataCommentBundle'), {'horizontal_label_class': ''}) }} *
								{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
									{{ form_widget(form.authorName, {'horizontal_input_wrapper_class': '','attr':{'disabled':'disabled', 'value':app.user.username }}) }}
								{% else %}
									{{ form_widget(form.authorName, {'horizontal_input_wrapper_class': ''}) }}
								{% endif %}
							</p>

							<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{{ form_label(form.website, 'form_label_website'|trans({}, 'SonataCommentBundle'), {'horizontal_label_class': ''}) }}
								{{ form_widget(form.website, {'horizontal_input_wrapper_class': ''}) }}
							</p>

							<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{{ form_label(form.email, 'form_label_email'|trans({}, 'SonataCommentBundle'), {'horizontal_label_class': ''}) }} *
								{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
									{{ form_widget(form.email, {'horizontal_input_wrapper_class': '','attr':{'disabled':'disabled', 'value':app.user.email }}) }}
								{% else %}
									{{ form_widget(form.email, {'horizontal_input_wrapper_class': ''}) }}
								{% endif %}
							</p>

							{% if form.note is defined %}
								<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									{{ form_label(form.note, 'form_label_note'|trans({}, 'SonataCommentBundle'), {'horizontal_label_class': ''}) }}
									{{ form_widget(form.note, {'horizontal_input_wrapper_class': ''}) }}
								</p>
							{% endif %}
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{{ form_label(form.body, 'form_label_body'|trans({}, 'SonataCommentBundle'), {'horizontal_label_class': ''}) }} *
								{{ form_widget(form.body, {'horizontal_input_wrapper_class': ''}) }}
							</div>
						</div>

						{{ form_rest(form) }}
					{% endblock %}

					<div class="comment_submit">
						{% block fos_comment_form_submit %}
							<input class="post-intbutton" id="submit" type="submit" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_new_submit{% endtrans %}" />
						{% endblock %}
					</div>
				</div>
			</form>
		{% endblock fos_comment_comment_new_form %}
	</div>
{% endblock fos_comment_comment_form_holder %}
