{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% block fos_comment_comment %}
	<div id="comment_{{ comment.id }}" class="comment_comment_show comment_comment_depth_{{ depth }}" {% if parent is defined and parent is not null %}data-parent="{{ parent.id }}"{% endif %}>

		<div class="comment_comment_metas">
			{% block fos_comment_comment_metas %}
				{% block fos_comment_comment_metas_authorline %}
					<img src="http://www.gravatar.com/avatar/{{ comment.email|lower|md5 }}" height="64" width="64" class="comment_comment_avatar avatar avatar-64" />
					<span class="comment_comment_authorname">
                        {{ comment.authorName }}
                    </span> :
					<div class="comment_comment_metadata">
						{{ comment.createdAt|format_date(null, 'fr', 'Europe/Paris',constant('IntlDateFormatter::LONG')) }} à {{ comment.createdAt|format_time(null, 'fr', 'Europe/Paris',constant('IntlDateFormatter::SHORT')) }}
					</div>
				{% endblock fos_comment_comment_metas_authorline %}

				{% block fos_comment_comment_metas_edit %}
					{% if fos_comment_can_edit_comment(comment) %}
						<button data-container="#comment_comment_body_{{ comment.id }}" data-url="{{ url("fos_comment_edit_thread_comment", {"id": comment.thread.id, "commentId": comment.id}) }}" class="comment_comment_edit_show_form">{% trans from 'FOSCommentBundle' %}fos_comment_comment_edit{% endtrans %}</button>
					{% endif %}
				{% endblock fos_comment_comment_metas_edit %}

				{% block fos_comment_comment_metas_delete %}
					{% if fos_comment_can_delete_comment(comment) %}
						{% if comment is fos_comment_in_state(constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')) %}
							{# undelete #}
							<button data-url="{{ url("fos_comment_remove_thread_comment", {"id": comment.thread.id, "commentId": comment.id, "value": constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_VISIBLE') }) }}" class="btn btn-default comment_comment_remove">{% trans from 'FOSCommentBundle' %}fos_comment_comment_undelete{% endtrans %}</button>
						{% else %}
							{# delete #}
							<button data-url="{{ url("fos_comment_remove_thread_comment", {"id": comment.thread.id, "commentId": comment.id, "value":  constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')}) }}" class="btn btn-default comment_comment_remove">{% trans from 'FOSCommentBundle' %}fos_comment_comment_delete{% endtrans %}</button>
						{% endif %}
					{% endif %}
				{% endblock fos_comment_comment_metas_delete %}
			{% endblock fos_comment_comment_metas %}
		</div>

		<div id="comment_comment_body_{{ comment.id }}" class="comment_comment_body">
			<p>
				{% block fos_comment_comment_body %}
				{% if comment is fos_comment_in_state(constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')) %}
				{% trans from 'FOSCommentBundle' %}fos_comment_comment_deleted{% endtrans %}
				{% else %}
				{% if comment.note %}
			<p>{{ 'sonata_comment_note_given'|trans({}, 'SonataCommentBundle') }}{{ comment.note }}</p>
			{% endif %}

			{% if comment is fos_comment_raw %}
				{{ comment.rawBody | raw }}
			{% else %}
				{{ comment.body | nl2br }}
			{% endif %}
			{% endif %}
			{% endblock fos_comment_comment_body %}
			</p>
		</div>

		{% block fos_comment_comment_children %}
			{% if view is not sameas('flat') %}
				{% if fos_comment_can_comment(comment) %}
					<div class="comment_comment_reply">
						{% block fos_comment_comment_reply %}
							<button data-url="{{ url('fos_comment_new_thread_comments', {"id": comment.thread.id}) }}" data-name="{{ comment.authorName }}" data-parent-id="{{ comment.id }}" class="comment_comment_reply_show_form">{% trans from 'FOSCommentBundle' %}fos_comment_comment_show_reply{% endtrans %}</button>
						{% endblock fos_comment_comment_reply %}
					</div>
				{% endif %}

				<div class="comment_comment_replies">

					{% if children is defined %}
						{% include "FOSCommentBundle:Thread:comments.html.twig" with { "comments": children, "depth": depth + 1, "parent": comment, "view": view } %}
					{% endif %}

				</div>
			{% elseif view is sameas('flat') and children is defined %}
				{% include "FOSCommentBundle:Thread:comments.html.twig" with { "comments": children, "depth": depth + 1, "parent": comment, "view": view } %}
			{% endif %}
		{% endblock fos_comment_comment_children %}

	</div>
{% endblock fos_comment_comment %}
