#comment_thread {
    padding-top: 30px;
}

.comment-countview {
    margin-bottom: 10px;
    float: left;
    font-size: 30px;
    margin-top: 0px;
    color: #505050;
}

.leave-comment {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.comment_comment_depth_0 {
    margin-top: 20px;
}

.comment_comment_metas {
    line-height: 1.6em;
    font-size: 16px;
    color: #81A2B3;
}

.comment_comment_metas .avatar {
    float: left;
    margin: 0px 20px 0px 0px;
}

.comment_comment_authorname {
    font-weight: bold;
}

.comment_comment_body, .comment_comment_reply {
    margin-left: 84px;
}

.comment_comment_reply {
    margin-bottom: 20px;
}

.comment_comment_reply_show_form {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 1.2em;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #81A2B3;
}

.comment_comment_reply_show_form:hover {
    text-decoration: underline;
}

.comment_comment_replies {
    border-top: 1px solid #E4E4E4;
    margin: 0px 0px 0px 70px;
    padding-top: 30px;
}

.comment_comment_new_form {
    margin-top: 50px;
    margin-bottom: 30px;
}

.comment_comment_reply .comment_comment_form_holder {
    float: left;
    width: 100%;
    margin: 30px 0px;
    border-bottom: 1px solid #E4E4E4;
}

.comment_comment_reply .comment_comment_new_form {
    margin-top: 30px;
    margin-bottom: 50px;
}

.comment_form_title {
    margin-bottom: 0px;
    float: left;
    font-size: 30px;
    margin-top: 0px;
    color: #505050;
}

.comment_form_body {
    float: left;
    width: 100%;
}

.comment-notes {
    color: #A0A0A0;
    font-size: 1em;
}

.comment_form_body label {
    display: inline-block;
    font-size: 0.875em;
    color: #4D4D4D;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 0.1875em;
}

.comment_form_body input {
    display: block;
    width: 60%;
}

.comment_form_body input[disabled] {
    cursor: default;
    background: #EEE;
    color: #6F6F6F;
}

.comment_form_body textarea {
    width: 100%;
    display: block;
    min-height: 250px;
    max-width: 100%;
    min-width: 100%;
}

.comment_submit {
    border: medium none;
    float: right;
    margin: 0px 0px 30px;
}

.comment_submit #submit {
    width: 100%;
    text-align: center;
    display: inline-block;
    line-height: 0.8em;
}

#cancel {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 1.2em;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #81A2B3;
    margin-left: 10px;
}

#cancel:hover {
    text-decoration: underline;
}