{% extends "@CreaComProject/layout.html.twig" %}
{% block pageTitle %}Accueil{% endblock %}
{% block extrasStyle %}
	{% stylesheets
	'bundles/creacomproject/css/pageIndex.css' filter='cssrewrite' %}
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html" />
	{% endstylesheets %}
{% endblock %}
{% block container %}
	<div class="col-md-8 big-block">
		<div class="col-md-14 block-int" style="background: url(data:image/jpeg;base64,{{ imgStarcube }}) no-repeat; background-size: cover; background-position: right bottom;">
			<div class="big-more col-sm-8">
				<h1>STARCUBE : GALAXY</h1>
				<div class="col-xs-2"></div>
				<div class="col-xs-10">
					<hr />
				</div>
				<div class="col-xs-2"></div>
				<div class="big-more-text-container col-md-14">
					<p>
						{{ starcube.resume|raw }}
					</p>
				</div>
				<div class="col-md-14"><a href="{{ path('creacom_sitecreacom_projet', {slug: 'starcube'}) }}" class="big-more-button">EN SAVOIR PLUS</a></div>
			</div>
			{#<div class="col-md-6 text-right sortie">SORTIE: SEPTEMBRE 2016</div>#}
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-14 small-block">
			<div class="col-md-14 block-int ateliers">
				<div class="col-sm-8"></div>
				<div class="more col-sm-6">
					<h2>ATELIERS</h2>
					<div class="col-xs-2"></div>
					<div class="col-xs-10">
						<hr class="no-margin" />
					</div>
					<div class="col-xs-2"></div>
					<div class="more-text-container col-md-14">
						<p class="small-text">
							Création de machinima, ateliers pédagogiques, ou simple découverte du média, nous organisons toutes sortes d’activités autour du machinima.
						</p>
					</div>
					<div class="col-md-14"><a href="{{ path('creacom_sitecreacom_contrib', {type:'ateliers'}) }}" class="small-more-button">EN SAVOIR PLUS</a></div>
				</div>
			</div>
		</div>
		<div class="col-md-14 small-block">
			<div class="col-md-14 block-reseaux">
				<a target="_blank" href="https://twitter.com/Creat_Community" class="col-xs-5 twitter"><img src="{{ asset('bundles/creacomproject/images/index/Twitter.png') }}" alt="twitter" /></a>
				<a target="_blank" href="https://www.youtube.com/c/creativecommunitystudio" class="col-xs-5 youtube"><img src="{{ asset('bundles/creacomproject/images/index/Youtube.png') }}" alt="youtube" /></a>
				<a target="_blank" href="https://www.facebook.com/CreativeCommunityStudio/" class="col-xs-5 facebook"><img src="{{ asset('bundles/creacomproject/images/index/Facebook.png') }}" alt="Facebook" /></a>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-14 small-block">
			<div class="col-md-14 block-int doublage">
				<div class="col-sm-8"></div>
				<div class="more col-sm-6">
					<h2>DOUBLAGE</h2>
					<div class="col-xs-2"></div>
					<div class="col-xs-10">
						<hr class="no-margin" />
					</div>
					<div class="col-xs-2"></div>
					<div class="more-text-container col-md-14">
						<p class="small-text">
							Besoin de voix pour vos projets ? Quel que soit le medium, nos acteurs sont à votre disposition pour donner vie à vos personnages.
						</p>
					</div>
					<div class="col-md-14"><a href="{{ path('creacom_sitecreacom_contrib', {type:'doublage'}) }}" class="small-more-button">EN SAVOIR PLUS</a></div>
				</div>
			</div>
		</div>
		<div class="col-md-14 small-block">
			<div class="col-md-14 block-int traduction">
				<div class="col-sm-8"></div>
				<div class="more col-sm-6">
					<h2>TRADUCTION</h2>
					<div class="col-xs-2"></div>
					<div class="col-xs-10">
						<hr class="no-margin" />
					</div>
					<div class="col-xs-2"></div>
					<div class="more-text-container col-md-14">
						<p class="small-text">
							<b>Français - Anglais</b><br />Grâce à nos traducteurs, vos rêves de grandeur à l’international vont enfin pouvoir se réaliser !
						</p>
					</div>
					<div class="col-md-14"><a href="{{ path('creacom_sitecreacom_contrib', {type:'traduction'}) }}" class="small-more-button">EN SAVOIR PLUS</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8 big-block ">
		<div class="col-md-14 block-int" style="background: url(data:image/jpeg;base64,{{ imgMoebius }}) no-repeat; background-size: cover; background-position: right bottom;">
			{#<div class="col-sm-6 text-left sortie">MOEBIUS : EN PRODUCTION</div>#}
			<div class="big-more col-sm-8 col-sm-offset-6">
				<h1>COURT-METRAGES</h1>
				<div class="col-xs-2"></div>
				<div class="col-xs-10">
					<hr />
				</div>
				<div class="col-xs-2"></div>
				<div class="big-more-text-container col-md-14">
					<p>
						De nombreux court-métrages à découvrir avec l’exploration d’univers vastes et variés: science-fiction, fantasy, fantastique, tout y passe !
					</p>
				</div>
				<div class="col-md-14 soon"><a href="#" class="big-more-button">PROCHAINEMENT</a></div>
			</div>
		</div>
	</div>
	<div class="col-md-8 big-block">
		<div class="col-md-14 block-int" style="background: url(data:image/jpeg;base64,{{ imgStasiapolis }}) no-repeat; background-size: cover; background-position: right bottom;">
			<div class="big-more col-sm-8">
				<h1>STASIAPOLIS</h1>
				<div class="col-xs-2"></div>
				<div class="col-xs-10">
					<hr />
				</div>
				<div class="col-xs-2"></div>
				<div class="big-more-text-container col-md-14">
					<p>
						{{ stasiapolis.resume|raw }}
					</p>
				</div>
				<div class="col-md-14 soon"><a href="#" class="big-more-button">PROCHAINEMENT</a></div>
			</div>
			{#<div class="col-md-6 text-right sortie">EN PRODUCTION</div>#}
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-14 small-block">
			<div class="col-md-14 block-int partenaires">
				<div class="col-sm-8"></div>
				<div class="more col-sm-6">
					<h2>PARTENAIRES</h2>
					<div class="col-xs-2"></div>
					<div class="col-xs-10">
						<hr class="no-margin" />
					</div>
					<div class="col-xs-2"></div>
					<div class="more-text-container col-md-14">
						<p class="small-text">
							Nos partenaires nous soutiennent dans nombreux de nos projets.<br />Apprenez en plus sur eux !
						</p>
					</div>
					<div class="col-md-14"><a href="{{ path('creacom_sitecreacom_partenaires') }}" class="small-more-button">EN SAVOIR PLUS</a></div>
				</div>
			</div>
		</div>
		<div class="col-md-14 small-block">
			<div class="col-md-14 block-int machimania">
				<div class="col-sm-8"></div>
				<div class="more col-sm-6">
					<h2>MACHIMANIA</h2>
					<div class="col-xs-2"></div>
					<div class="col-xs-10">
						<hr class="no-margin" />
					</div>
					<div class="col-xs-2"></div>
					<div class="more-text-container col-md-14">
						<p class="small-text">
							Tout le machinima concentré en un seul site. Des actus, des critiques, et de nombreuses émissions pour découvrir ce nouveau genre cinématographique.
						</p>
					</div>
					<div class="col-md-14"><a target="_blank" href="http://machimania.fr" class="small-more-button">VOIR LE SITE</a></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}