<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Rapport de réunion générale de Creative Community">
		<meta name="author" content="Cefjic">
		<title>Rapport de réunion</title>
		<!-- Custom CSS -->
		<style>
			.ordre_du_jour {
				background-color: #9CC2E4;
			}

			.bastien {
				background-color: #BCD5ED;
			}

			td {
				border: 1px solid #7EB0DD;
			}

			.col-xs-12 {
				width: 100%;
			}

			.col-xs-8 {
				width: 66.66666667%;
			}

			.col-xs-4 {
				width: 33.33333333%;
			}
		</style>
	</head>

	<body>
		<!-- Page Content -->
		<div class="container">
			<h1 style="color:#87A7C4" class="text-center">Creative Community</h1>
			<table class="col-xs-12">
				<tr>
					<td colspan="3" class="text-center ordre_du_jour"><h3>Rapport de réunion</h3></td>
				</tr>
				<tr>
					<td class="col-xs-4 bastien">JJ//MM/AAAA</td>
					<td class="col-xs-4 bastien">HH:MM</td>
					<td class="col-xs-4 bastien">ts.creativecommunity.fr</td>
				</tr>
				<!-- informations organisateur-->
				<tr>
					<td class="col-xs-4">Réunion organisée par</td>
					<td class="col-xs-8" colspan="2">Pseudo</td>
				</tr>
				<!-- Type de réunion-->
				<tr>
					<td class="col-xs-4">Type de réunion</td>
					<td class="col-xs-8" colspan="2">typeRéunion</td>
				</tr>
				<!-- Absents justifiés-->
				<tr>
					<td class="col-xs-4">Absents justifiés</td>
					<td class="col-xs-8" colspan="2">Pseudo</td>
				</tr>
				<!-- Absents non justifiés-->
				<tr>
					<td class="col-xs-4">Absents non justifiés</td>
					<td class="col-xs-8" colspan="2">Pseudo</td>
				</tr>
				<tr>
					<td class="col-xs-12" colspan="3"><br /></td>
				</tr>
				<!-- Sujet ordre du jour-->
				<tr>
					<td class="col-xs-4 ordre_du_jour">Ordre du jour</td>
					<td class="col-xs-8" colspan="2"><b>Sujet</b></td>
				</tr>
				<!-- Présentateur ordre du jour-->
				<tr>
					<td class="col-xs-4">Par</td>
					<td class="col-xs-8 bastien" colspan="2">Pseudo</td>
				</tr>
				<!-- corp ordre du jour -->
				<tr>
					<td class="col-xs-4"></td>
					<td class="col-xs-8" colspan="2">Le blog peut être fini dans la soirée mais il faut des membres pour
						l’alimenter. On rappelle que son but est de faire des articles sur des thèmes variés et de discuter avec
						la communauté. Si vous êtes motivés, hésitez pas à aller voir Frankido. Si aucune personne ne se
						propose, le blog ne verra simplement pas le jour
					</td>
				</tr>
				<tr>
					<td class="col-xs-12" colspan="3"><br /></td>
				</tr>
			</table>
		</div>
	</body>
</html>