body {
    color: #282525;
    background: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 400;
    word-wrap: break-word;
}

h1, h2, h3, h4 {
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 400;
}

a {
    text-decoration: none;
    line-height: inherit;
    color: #282525;
    outline: 0;
}

a:hover, a:focus {
    color: #282525;
    outline: 0;
}

input, textarea {
    background-color: #FFF;
    font-family: inherit;
    border: 1px solid #E4E4E4;
    color: #010101;
    display: block;
    font-size: 0.875em;
    margin: 0px 0px 1em;
    padding: 0.5em;
    height: 2.3125em;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    outline: 0;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    height: auto;
    width: 100%;
    max-height: 450px;
}

.clear {
    clear: both;
}

.avatar {
    border-radius: 6px;
}

.avatar-64 {
    width: 64px;
    height: 64px;
}

.title-article {
    font-size: 3.1em;
    line-height: 1.3em;
    letter-spacing: -0.04em;
    word-spacing: 0.04em;
    width: 605px;
}

.title-article a {
    color: #312F3F;
    transition: all 0.1s ease 0s;
}

.title-article a:hover, .title-article a:focus {
    color: #81A2B3;
    text-decoration: none;
}

.info-article {
    clear: both;
    margin: 1.25em 0 1.25em 0;
    font-size: 90%;
    border-top: 1px solid #E8E8E8;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #E8E8E8;
}

.info-article ul {
    margin: 0;
    padding: 0;
}

.info-article ul li {
    list-style: outside none none;
    margin-right: 1em;
    margin-bottom: 10px;
    display: inline;
}

.content {
    box-shadow: 630px 0px 0 #e8e8e8, 920px 0 0 #e8e8e8, 920px 500px 0px #E8E8E8;
    font-size: 1.125em;
    line-height: 1.625em;
    padding: 0;
}

.article {
    padding: 20px;
}

.title {
    color: #ffffff;
    font-size: 1.125em;
    line-height: 1.625em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title p {
    background: rgba(129, 162, 179, 0.7);
    padding: 5px 5px 5px 15px;
}

.title h1 {
    color: #ffffff;
    font-size: 3.4em;
    margin-bottom: 0.45em;
}

.title h1 span {
    background: rgba(129, 162, 179, 0.7);
    padding: 5px;
}

.navbar {
    margin: 0;
}

.navbar-brand {
    padding: 5px;
    height: 60px;
    margin-top: 6px;
}

.navbar-crea {
    background: #2F3038 none repeat scroll 0 0;
    min-height: 76px;
    color: #bdbdbd;
}

.navbar-crea .navbar-nav > li > a {
    color: #bdbdbd;
    font-weight: 700;
    font-size: 0.87em;
    margin: 0.15em -0.15em;
    line-height: 30px;
}

.navbar-crea .navbar-nav > li > a:hover, .navbar-crea .navbar-nav > li > a:focus {
    color: #ffffff;
    background: none;
}

.subheader_bg_img {
    background-image: url("../img/fond.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.subheader_box {
    transition: all 0.15s ease 0s;
    margin: 0;
}

footer {
    background: #1f1e20;
    min-height: 150px;
    padding: 30px 0px;
}

.footer_content {
    text-align: justify;
    color: #BBB;
    font-size: 14px;
    line-height: 22px;
}

.footer_content h4 {
    font-family: "PT Serif", serif;
    color: #BBB;
    font-size: 22px;
    margin-bottom: 20px;
}

.footer_asso img {
    margin: 0px 20px 0px 0px;
    float: left;
}

.footer_content div {
    display: inline-block;
    float: left;
}

.footer_quote {
    margin-left: 3%;
}

.footer_social {
    margin-left: 3%;
}

.footer_social img {
    margin: 3px;
    background-color: #ffffff;
}

.footer_quote .quote_author {
    text-align: right;
    margin-top: 15px;
}

.copy-area {
    background: #4c4b4d;
    list-style: outside none none;
    padding: 5px 5px 5px 5px;
    color: #BBB;
}

.copy-area a {
    color: #81A2B3;
    float: right;
    text-align: right;
    margin-right: 30px;
}

.sidebar {
    background: #E8E8E8 none repeat scroll 0% 0%;
}

@media screen and (max-width: 992px) {
    .sidebar {
        box-shadow: 200px 0px 0px #E8E8E8, -200px 0px 0px #E8E8E8;
    }

    .content {
        box-shadow: none;
    }
}

.sidebar h4 {
    font-family: "PT Serif", serif;
    color: #81A2B3;
    margin: 20px 0px 25px -30px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 0px 10px 30px;
    font-size: 22px;
}

.weneedyou {
    width: 90px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

.recrutement .message {
    text-align: justify;
}

.recrutement .recrutlink {
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
}

.social img {
    margin: 0px 25px 25px 25px;
}

.post-navigation {
    width: 100%;
    padding: 0px 30px 0px 20px;
    background: #EEE none repeat scroll 0% 0%;
    box-shadow: -600px 0px 0px #EEE, 0px 0px 0px #EEE;
    float: left;
    clear: both;
    position: static;
    height: 80px;
}

.next_post, .previous_post {
    width: 50%;
}

.previous_post {
    float: left;
}

.next_post {
    float: right;
}

.previous_post a {
    padding: 0px;
    background-position: left 0px;
    text-align: left;
    width: 100%;
    float: left;
}

.previous_post a span:hover, .previous_post a span:focus, .previous_post a span:active {
    text-decoration: underline;
    border: none;
}

.post_previous a::before {
    content: "\f105";
    margin: 26px 30px 30px 0px;
    float: left;
    font-family: "FontAwesome";
    font-size: 25px;
    display: inline;
    line-height: 25px;
    vertical-align: -2px;
    transition-duration: 0s;
}

.next_post a span {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    float: right;
    line-height: 19px;
    padding: 30px 0px;
    width: 80%;
}

.previous_post a span {
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    line-height: 19px;
    width: 80%;
    padding: 30px 0px;
    word-wrap: normal;
    white-space: nowrap;
}

.next_post a {
    padding: 0px;
    text-align: right;
    width: 100%;
    float: right;
}

.next_post a span:hover, .next_post a span:focus, .next_post a span:active {
    text-decoration: underline;
    border: none;
}

.post-author, .post-comment {
    width: 100%;
    float: left;
    clear: both;
    padding: 0px 30px 0px 20px;
    box-shadow: -600px 0px 0px #F6F6F6, 0px 0px 0px #F6F6F6;
    background: #F6F6F6 none repeat scroll 0% 0%;
}

.author-title {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #505050;
    font-family: "PT Serif", serif;
    font-weight: 400;
}

.author-avatar {
    float: left;
    margin: 0px 20px 0px 0px;
}

.author-avatar img {
    border-radius: 6px;
}

.author-description {
    margin-bottom: 10px;
    height: 100px;
}

.authorname {
    text-transform: uppercase;
}

.author-description p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
}

.author-posts {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.author-network {
    display: block;
    height: 38px;
    width: 38px;
    float: left;
    margin-right: 10px;
    text-indent: -9999px;
    margin-bottom: 11px;
}

.author-website {
    background: url("../img/author-network/website.png") no-repeat scroll 0px 0px;
}

.author-twitter {
    background: url("../img/author-network/twitter.png") no-repeat scroll 0px 0px;
}

.author-facebook {
    background: url("../img/author-network/facebook.png") no-repeat scroll 0px 0px;
}

.author-skype {
    background: url("../img/author-network/skype.png") no-repeat scroll 0px 0px;
}

.author-youtube {
    background: url("../img/author-network/youtube.png") no-repeat scroll 0px 0px;
}

#fos_comment_thread {
    padding-top: 30px;
}

.comment-countview {
    margin-bottom: 50px;
    float: left;
    font-size: 30px;
    margin-top: 0px;
    color: #505050;
}

.post-intbutton {
    background: #81A2B3 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 14px;
    line-height: 1.2em;
    padding: 10px 30px;
    border-radius: 6px;
    text-align: center;
}

.post-intbutton:hover {
    background-color: #2F3038 !important;
    color: #FFF;
    text-decoration: none;
}

.archives {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.archives h1 {
    text-align: left;
}

.archives .month_archive {
    text-align: center;
    margin: 10px auto;
}

.archive_img {
    width: 100%;
}